// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1200px;
$mobile-width: 480px;
$tablet-width: 760px;

// Define your breakpoints
$desktop: new-breakpoint(min-width $tablet-width);
$tablet: new-breakpoint(min-width $mobile-width max-width $tablet-width 8);
$mobile: new-breakpoint(max-width $mobile-width 4);
