/*******************************
         Site Overrides
*******************************/
$color-white: rgb(255,255,255);
$color-black: rgb(35,21,32);
$color-pink: rgb(236,0,140);
$color-grey: rgb(88,88,88);

a {
  color: $color-black;
  &:hover {
    color: $color-pink;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $color-grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color-grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $color-grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: $color-grey;
}

.hidden {
  display: none !important;
}

.section{
  position: relative;
}
.slide{
  position: relative;
}
.footer {
  min-height: 100px;
  background: $color-black;
}


.fp-controlArrow.fp-prev {
  width: 36px;
  height: 36px;
  left: 0;
  margin-top: -2px;
  border: none;
  background: url(../images/arrow_black.png) 0 0 no-repeat;
}

.fp-controlArrow.fp-next {
  width: 36px;
  height: 36px;
  left: 0;
  border: none;
  background: url(../images/arrow_white.png) 0 0 no-repeat;
}

.fp-controlArrow.fp-prev.right,
.fp-controlArrow.fp-next.right {
  right: 0;
  left: auto;
}


#nav {
	margin-top: 50px;
  .menu {
    visibility: hidden;
  }
	.item {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 20px;
    height: 20px;
    margin-top: 5px;
		color: #231f20;
    font-family: 'Lato Regular';
		font-size: 1.44em;
		text-transform: uppercase;
		border-radius: 0;
    transition: 1s all;
		&:hover{
      background: none;
      color: $color-pink;
		}
		&.phone {
      padding-right: 0;
      a {
        transition: 1s all;
      }
      &:hover {
        color: $color-black !important;
      }
		}
		&.logo {
			display: block;
			width: 50px !important;
			height: 50px;
      padding: 0;
      margin: 0;
			border: none;
      svg path {
        fill: $color-pink;
        transition: 1s all;
      }
      &:hover {
        svg path {
          fill: $color-black;
        }
      }
		}
    &.browse {
      position: relative;
      width: 100px;
      cursor: pointer;
      .close {
        position: absolute;
        left: 40px;
        width: 20px;
        height: 20px;
        visibility: hidden;
        float: left;
      }
      .close:before,
      .close:after {
        position: absolute;
        top: 0px;
        left: 10px;
        content: ' ';
        height: 22px;
        width: 2px;
        background-color: #231f20;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }
    }
	}
}



#home {
  .section.portfolio {
    .slide {
      .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .frame {
        max-width: 800px;
        margin: 0 auto;
        border: 4px solid white;
        text-align: center;
        .ui.header {
          display: block;
          margin: 0;
          padding: 0em 1.2em 0.3em 1.2em;
          font-family: 'Lato Regular';
          font-size: 5em;
          font-weight: normal;
          text-transform: lowercase;
          .sub.header {
            font-family: 'Lato Light';
            font-size: 1.6rem;
            line-height: 1;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .section.services {
    .ui.card {
      box-shadow: none;
      .content {
        padding: 0;
      }
      .header {
        font-family: 'Lato Regular';
        font-size: 1.4em;
        line-height: 1;
        text-transform: lowercase;
        color: $color-black;
      }
      .description {
        font-family: 'Lato Medium Italic';
        font-size: .88em;
        p {
          line-height: 1;
          color: $color-black;
        }
      }
      &.big {
        width: 100%;
        position: relative;
        .header {
          font-family: 'Lato Regular';
          font-size: 4em;
          text-align: right;
          text-transform: lowercase;
          line-height: 0.8;
          color: $color-black;
        }
        .meta {
          position: absolute;
          right: 0;
          top: 60px;
          font-family: 'Lato Light';
          font-size: 1.6em;
          text-transform: uppercase;
          text-align: right;
          visibility: hidden;
          color: $color-black;
        }
        .description {
          position: absolute;
          right: 0;
          top: 100px;
          max-width: 300px;
          color: #231f20;
          font-family: 'Lato Regular';
          font-size: 1.1em;
          line-height: 1.4em;
          text-align: left;
          visibility: hidden;
          color: $color-black;
        }
      }
    }
  }

  .section.contact {

    .slide.contact {
      .ui.card {
        width: 100%;
        background: transparent;
        box-shadow: none;
        .content {
          padding: 0;
        }
        .header {
          font-family: 'Lato Regular';
          font-size: 2em;
          font-weight: normal;
          a {
            color: $color-white;
          }
        }
        .description {
          font-family: 'Lato Regular';
          font-size: 1.2em;
          margin-top: 2em;
          p, a {
            margin-bottom: 0;
            color: $color-white;
          }
          .fb {
            display: block;
            margin-top: 2em;
            font-weight: bold;
          }
        }
        &.big {
          width: 100%;
          position: relative;
          .header {
            font-family: 'Lato Regular';
            font-size: 4em;
            text-align: right;
            text-transform: lowercase;
            color: $color-white;
          }
          .meta {
            font-family: 'Lato Light';
            font-size: 1.2em;
            text-transform: uppercase;
            text-align: right;
            color: $color-white;
          }
          .description {
            position: absolute;
            right: 0;
            top: 100px;
            color: #231f20;
            font-family: 'Lato Regular';
            font-size: 1.1em;
            line-height: 1.4em;
            text-align: right;
            visibility: hidden;
            color: $color-black;
          }
        }
      }
    }

    .slide.map {
      .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .frame {
        max-width: 800px;
        margin: 0 auto;
        border: 4px solid $color-grey;
        text-align: center;
        .ui.header {
          display: block;
          margin: 0;
          padding: 0em 1.2em 0.3em 1.2em;
          font-family: 'Lato Regular';
          font-size: 5em;
          font-weight: normal;
          text-transform: lowercase;
          color: $color-grey;
          .sub.header {
            font-family: 'Lato Light';
            font-size: 1.6rem;
            line-height: 1;
            color: $color-grey;
            text-transform: capitalize;
          }
        }
      }
    }

    .slide.feedback {
      .ui.card {
        width: 100%;
        background: transparent;
        box-shadow: none;
        .content {
          padding: 0;
        }
        &.big {
          width: 100%;
          position: relative;
          .header {
            font-family: 'Lato Regular';
            font-size: 4em;
            text-align: right;
            text-transform: lowercase;
            color: $color-black;
          }
          .meta {
            font-family: 'Lato Light';
            font-size: 1.2em;
            text-transform: uppercase;
            text-align: right;
            color: $color-black;
          }
        }
      }
      .ui.form {
        span,
        input,
        textarea,
        .wpcf7-mail-sent-ok {
          font-family: 'Lato Regular';
          font-weight: normal;
          border-radius: 0;
          transition: 1s all;
        }
        input:focus,
        textarea:focus {
          border-color: $color-pink;
        }
      }
    }

  }
}



#case {
  .section.case {
    &.head {
      .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .frame {
        max-width: 800px;
        margin: 0 auto;
        border: 4px solid white;
        text-align: center;
        .ui.header {
          display: block;
          margin: 0;
          padding: 0em 1.2em 0.3em 1.2em;
          font-family: 'Lato Regular';
          font-size: 5em;
          font-weight: normal;
          text-transform: lowercase;
          .sub.header {
            font-family: 'Lato Light';
            font-size: 1.6rem;
            line-height: 1;
            text-transform: uppercase;
          }
        }
      }
    }
    .info-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
    }
    .ui.card {
      width: 50%;
      background: none;
      border-radius: 0;
      box-shadow: none;
      .content {
        padding: 0;
      }
      .header {
        font-family: 'Lato Regular';
        font-weight: normal;
        font-size: 4.8em;
        line-height: 1;
        text-transform: lowercase;
        margin-top: 0;
        margin-bottom: 0.2em;
      }
      .meta {
        font-family: 'Lato Light';
        font-size: 1.4em;
        text-transform: uppercase;
        margin-bottom: 2em;
      }
      .description {
        font-family: 'Lato Regular';
        font-size: 1.12em;
        text-align: left;
        max-width: 300px;
        p {
          line-height: 1.2em;
        }
      }
    }
  }
}



#error404 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .frame {
    border-color: $color-black;
  }
  .ui.header {
    color: $color-black;
  }
}


/*******************************
         Site Pages Styles
*******************************/

$color-fazer-active: #cccccc;
$color-fazer-main: rgb(247,145,0);

#home {
  #slide-fazer {
    .frame {
      border-color: $color-white;
      .ui.header,
      .ui.header .sub.header {
        color: $color-white;
      }
    }
  }
}

#page-fazer {
  ::selection {
    background-color:$color-fazer-main;
    color: $color-white;
  }
  #nav .item {
    &:hover {
      color: $color-fazer-main;
    }
    &.logo {
      svg path {
        fill: $color-black;
      }
      &:hover {
        svg path {
          fill: $color-fazer-main;
        }
      }
    }
    &.phone a:hover{
      color: $color-fazer-main;
    }
    &.browse:hover {
      .close:before,
      .close:after {
        background-color: $color-fazer-active;
      }
    }
  }
  #head-fazer {
    .frame {
      border-color: $color-white;
      .ui.header,
      .ui.header .sub.header {
        color: $color-white;
      }
    }
  }
  #info-fazer {
    .info-bg {
      background: $color-fazer-main;
      opacity: 0.7;
    }
    .ui.card {
      .header,
      .meta,
      .description {
        color: $color-white;
      }
    }
  }
  #case-fazer-4 {
    .ui.card {
      .header,
      .meta,
      .description {
        color: $color-black;
      }
    }
  }
  #fp-nav ul li a span:hover {
    background:$color-fazer-main;
  }
}


$color-2t-active: rgb(125,211,243);
$color-2t-main:   rgb(72,61,54);

#home {
  #slide-2t {
    .frame {
      border-color: $color-2t-main;
      .ui.header,
      .ui.header .sub.header {
        color: $color-2t-main;
      }
    }
  }
}

#page-2t {
  ::selection {
    background-color:$color-2t-active;
  }
  #nav .item {
    &:hover {
      color: $color-2t-active;
    }
    &.logo {
      svg path {
        fill: $color-black;
      }
      &:hover {
        svg path {
          fill: $color-2t-active;
        }
      }
    }
    &.phone a:hover{
      color: $color-2t-active;
    }
    &.browse:hover {
      .close:before,
      .close:after {
        background-color: $color-2t-active;
      }
    }
  }
  #head-2t {
    .frame {
      border-color: $color-2t-main;
      .ui.header,
      .ui.header .sub.header {
        color: $color-2t-main;
      }
    }
  }
  #info-2t {
    .info-bg {
      background: $color-2t-main;
      opacity: 0.8;
    }
    .ui.card {
      .header,
      .meta,
      .description {
        color: $color-white;
      }
    }
  }
  #case-2t-1 {
    .ui.card {
      .header,
      .meta,
      .description {
        color: $color-black;
      }
    }
  }
  #fp-nav ul li a span:hover {
    background:$color-2t-active;
  }
}




$color-flight-active: rgb(9,78,147);
$color-flight-main:   rgb(9,78,147);

#home {
  #slide-flight {
    .frame {
      border-color: $color-white;
      .ui.header,
      .ui.header .sub.header {
        color: $color-white;
      }
    }
  }
}

#page-flight {
  ::selection {
    background-color:$color-flight-active;
    color: $color-white;
  }
  #nav .item {
    &:hover {
      color: $color-flight-active;
    }
    &.logo {
      svg path {
        fill: $color-black;
      }
      &:hover {
        svg path {
          fill: $color-flight-active;
        }
      }
    }
    &.phone a:hover{
      color: $color-flight-active;
    }
    &.browse:hover {
      .close:before,
      .close:after {
        background-color: $color-flight-active;
      }
    }
  }
  #head-flight {
    .frame {
      border-color: $color-white;
      .ui.header,
      .ui.header .sub.header {
        color: $color-white;
      }
    }
  }
  #info-flight {
    .info-bg {
      background: $color-flight-main;
      opacity: 0.8;
    }
    .ui.card {
      .header,
      .meta,
      .description {
        color: $color-white;
      }
    }
  }
  #case-flight-1 {
    .ui.card {
      .header,
      .meta,
      .description {
        color: $color-black;
      }
    }
  }
  #fp-nav ul li a span:hover {
    background:$color-flight-active;
  }
}



$color-sokolniki-active: rgb(32,79,38);
$color-sokolniki-main:   rgb(77,179,72);

#home {
  #slide-sokolniki {
    .frame {
      border-color: $color-sokolniki-active;
      .ui.header,
      .ui.header .sub.header {
        color: $color-sokolniki-active;
      }
    }
  }
}

#page-sokolniki {
  ::selection {
    background-color:$color-sokolniki-active;
    color: $color-white;
  }
  #nav .item {
    &:hover {
      color: $color-sokolniki-active;
    }
    &.logo {
      svg path {
        fill: $color-black;
      }
      &:hover {
        svg path {
          fill: $color-sokolniki-active;
        }
      }
    }
    &.browse:hover {
      .close:before,
      .close:after {
        background-color: $color-sokolniki-active;
      }
    }
  }
  #head-sokolniki {
    .frame {
      border-color: $color-sokolniki-active;
      .ui.header,
      .ui.header .sub.header {
        color: $color-sokolniki-active;
      }
    }
  }
  #info-sokolniki {
    .info-bg {
      background: $color-sokolniki-main;
      opacity: 0.8;
    }
    .ui.card {
      .header,
      .meta,
      .description {
        color: $color-white;
      }
    }
  }
  #case-sokolniki-1 {
    .ui.card {
      .header,
      .meta,
      .description {
        color: $color-black;
      }
    }
  }
  #fp-nav ul li a span:hover {
    background:$color-sokolniki-active;
  }
}







/*******************************
         Site Breakpoints
*******************************/

/* Portrait */
#mobile {
  display: none;
}

html.portrait {
  background: rgba(0, 0, 0, .88);
  header,
  main,
  footer,
  #fp-nav {
    display: none !important;
  }
  #mobile {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .88) url(../images/logo_white.png) center center no-repeat;
    color: white;
    font-size: 2em;
    font-family: 'Lato Regular';
    text-align: center;
    padding-top: 20px;
    min-height: 200px;
  }
}



/* Mobile */
@media only screen and (max-width: 767px) {

  #nav {
    margin-top: 10px;
    margin-left: 10px;
    .item {
      padding-left: 0.4em;
      padding-right: 0.4em;
    }
    .item.phone {
      display: none;
    }
  }

  #home .section.portfolio .slide .frame .ui.header,
  #case .section.case.head .frame .ui.header {
    padding: 0em 0.4em 0.4em 0.4em;
    font-size: 4em;
  }

  #case .section.case .info-bg,
  #case .section.case .ui.card {
    width: 100%;
  }

  #case .section.case .ui.card .description {
    max-width: 90%;
  }

  #case .section.case .ui.card .header,
  #case .section.case .ui.card .meta,
  #case .section.case .ui.card .description {
    color: $color-white;
  }

  #case .section.case .ui.card .header,
  #case .section.case .ui.card .meta {
    text-align: center;
  }

  #page-fazer .section.case .info-bg {
    background: $color-fazer-main;
    opacity: 0.8;
  }

  #page-2t .section.case .info-bg {
    background: $color-2t-main;
    opacity: 0.8;
  }

  #page-flight .section.case .info-bg {
    background: $color-flight-main;
    opacity: 0.8;
  }

  #page-sokolniki .section.case .info-bg {
    background: $color-sokolniki-main;
    opacity: 0.8;
  }

}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  #nav {
    margin-top: 10px;
    margin-left: 10px;
    .item {
      padding-left: 0.4em;
      padding-right: 0.4em;
    }
    .item.phone {
      display: none;
    }
  }

  #home .section.portfolio .slide .frame .ui.header,
  #case .section.case.head .frame .ui.header {
    padding: 0em 0.4em 0.4em 0.4em;
    font-size: 4em;
  }

  #case .section.case .info-bg,
  #case .section.case .ui.card {
    width: 100%;
  }

  #case .section.case .ui.card .description {
    max-width: 90%;
  }

  #case .section.case .ui.card .header,
  #case .section.case .ui.card .meta,
  #case .section.case .ui.card .description {
    color: $color-white;
  }

  #case .section.case .ui.card .header,
  #case .section.case .ui.card .meta {
    text-align: center;
  }

  #page-fazer .section.case .info-bg {
    background: $color-fazer-main;
    opacity: 0.8;
  }

  #page-2t .section.case .info-bg {
    background: $color-2t-main;
    opacity: 0.8;
  }

  #page-flight .section.case .info-bg {
    background: $color-flight-main;
    opacity: 0.8;
  }

  #page-sokolniki .section.case .info-bg {
    background: $color-sokolniki-main;
    opacity: 0.8;
  }

}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Large Monitor */
@media only screen and (min-width: 1200px) {

}
