/*******************************
         Site Overrides
*******************************/


.hidden {
  display: none !important;
}

#nav {
	position:fixed;
	top: 50px;
	left: 100px;
	z-index: 80;
  .menu {
    visibility: hidden;
  }
	.item {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 20px;
    height: 20px;
    margin-top: 5px;
		color: #231f20;
    font-family: 'Lato Medium';
		font-size: 1.44em;
		text-transform: uppercase;
		border-radius: 0;
		&:hover{
			opacity: .8;
      background: none;
		}
		&.phone {

		}
		&.logo {
			display: block;
			width: 50px !important;
			height: 50px;
      margin-top: 0;
			background: url(../images/logo_pink.png) 0 0 no-repeat;
			background-size: cover;
		}
    &.browse {
      position: relative;
      width: 160px;
      padding-left: 40px;
      cursor: pointer;
      .square {
        float: left;
        display: block;
        width: 17px;
        height: 17px;
        margin-right: 10px;
        border: 1px solid #231f20;
        // background: url(../images/icon_square.png) 0 0 no-repeat;
      }
      .close {
        position: absolute;
        left: 40px;
        width: 20px;
        height: 20px;
        visibility: hidden;
        float: left;
      }
      .close:before, .close:after {
        position: absolute;
        top: -3px;
        left: 10px;
        content: ' ';
        height: 26px;
        width: 1px;
        background-color: #231f20;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }
    }
	}
}


.footer {
  min-height: 100px;
  background: #231F20;
}



.section{
  position: relative;
}
.slide{
  position: relative;
}


.section.portfolio {
  .slide {
    // display: flex;
  }
}

.section.services {
  .ui.grid {
    padding-top: 100px;
  }
  .ui.card {
    box-shadow: none;
    .content {
      padding: 0;
    }
    .header {
      font-family: 'Lato Medium';
      font-size: 1.4em;
      line-height: 1;
      // text-transform: lowercase;
    }
    .description {
      font-family: 'Lato Medium Italic';
      font-size: .88em;
      p {
        line-height: 1;
      }

    }
    &.big {
      width: 100%;
      position: relative;
      .header {
        font-family: 'Lato Regular';
        font-size: 4em;
        text-align: right;
        text-transform: lowercase;
      }
      .meta {
        position: absolute;
        right: 0;
        top: 60px;
        font-family: 'Lato Light';
        font-size: 1.6em;
        text-transform: uppercase;
        text-align: right;
        visibility: hidden;
      }
      .description {
        position: absolute;
        right: 0;
        top: 100px;
        color: #231f20;
        font-family: 'Lato Regular';
        font-size: 1.1em;
        line-height: 1.4em;
        text-align: right;
        visibility: hidden;
      }
    }
  }
}

.section.contact {
  .ui.grid {
    padding-top: 200px;
  }
  .ui.card {
    width: 100%;
    box-shadow: none;
    .content {
      padding: 0;
    }
    .header {
    }
    .description {
      font-family: 'Lato Medium';
      font-size: 1.4em;
      p {
        line-height: 1;
      }

    }
    &.big {
      width: 100%;
      position: relative;
      .header {
        font-family: 'Lato Regular';
        font-size: 4em;
        text-align: right;
            text-transform: lowercase;
      }
      .meta {
        position: absolute;
        right: 0;
        top: 60px;
        font-family: 'Lato Light';
        font-size: 1.6em;
        text-transform: uppercase;
        text-align: right;
        visibility: hidden;
      }
      .description {
        position: absolute;
        right: 0;
        top: 100px;
        color: #231f20;
        font-family: 'Lato Regular';
        font-size: 1.1em;
        line-height: 1.4em;
        text-align: right;
        visibility: hidden;
      }
    }
  }

}


.frame {
  display: block;
  max-width: 400px;
  margin: 200px auto;
  border: 4px solid white;
  text-align: center;
  .ui.header {
    display: block;
    padding: 20px;
    &:hover {
      opacity: .8;
    }
  }
  .ui.header {
    font-family: 'Lato Regular';
    color: white;
    font-weight: normal;
    text-transform: uppercase;
  }

  h1.ui.header {
    font-size: 3rem;
  }

  .ui.header .sub.header {
    color: white;
    font-family: 'Lato Light';
    text-transform: uppercase;
  }

  .ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: 3em;
  }



}

.fp-controlArrow {

  &:hover {
    opacity: .8;
  }
}

.fp-controlArrow.fp-prev {
  width: 36px;
  height: 36px;
  left: 0;
  margin-top: -2px;
  border: none;
  background: url(../images/arrow_black.png) 0 0 no-repeat;
}

.fp-controlArrow.fp-next {
  width: 36px;
  height: 36px;
  left: 0;
  border: none;
  background: url(../images/arrow_white.png) 0 0 no-repeat;
}

.fp-controlArrow.fp-prev.right,
.fp-controlArrow.fp-next.right {
  right: 0;
  left: auto;
}




.section {
  .ui.card {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    padding: 160px 80px;
    background: transparent;
    box-shadow: none;
    .header {
      margin-bottom: 1em;
      text-transform: uppercase;
      font-family: 'Lato Regular';
    }
    .meta {
      margin-bottom: 3em;
      text-transform: uppercase;
      font-family: 'Lato Regular';
    }
    .description {
      max-width: 300px;
      font-size: .88em;
      text-align: justify;
      font-family: 'Lato Regular';
    }
  }
}

.section.case-info {
  .ui.card {
    // background: none;
    box-shadow: none;
    border-radius: 0;
  }

  .ui.card > .content > .header,
  .ui.card > .content > .description,
  .ui.card .meta {
    color: white;
  }

  .ui.cards > .card > .content > .header:not(.ui),
  .ui.card > .content > .header:not(.ui) {
    font-weight: normal;
    font-size: 3rem;
    margin-top: 0;
    line-height: 3rem;
  }
  .ui.card {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    padding: 160px 80px;
    .header {
      margin-bottom: 1em;
      text-transform: uppercase;
    }
    .meta {
      margin-bottom: 3em;
      text-transform: uppercase;
    }
    .description {
      max-width: 300px;
      font-size: .88em;
      text-align: justify;
    }
  }
  .button.toogle {
    position: absolute;
    bottom: 10%;
    left: 10%;
  }
  .ui.basic.button:active,
  .ui.basic.button:focus {
    background: transparent !important;
  }
}




/*******************************
         Site Pages Styles
*******************************/
$color-white: #ffffff;
$color-black: #231f20;
$color-fazer: #ffffff;
$color-sokolniki: darkgreen;

.fazer .section.case-info .ui.card {
  background: rgba(247,145,0,.8) !important;
}

.fazer {
  .ui.menu .item {
    color: $color-black !important;
    border-color: $color-black !important;
    &.logo {
      background: url(../images/logo_black.png) 0 0 no-repeat !important;
    }
  }
  .ui.header,
  .ui.header .sub.header {
    color: $color-fazer;

  }
  .frame,
  &.frame {
    border-color: $color-fazer !important;
  }
  &.case-title {
    color: $color-fazer;
    border-color: $color-fazer;
  }
  #fp-nav ul li a span {
    background: $color-black;
  }
}

.2t-gallery.section.case-info .ui.card {
  background: rgba(72,61,54,.82) !important;
}

.2t-gallery {
  .ui.menu .item {
    color: $color-white !important;
    border-color: $color-white !important;
    &.logo {
      background: url(../images/logo_white.png) 0 0 no-repeat !important;
    }
  }
  .ui.header,
  h1.ui.header,
  .ui.header .sub.header {
    color: $color-white !important;
  }
  .ui.header {
    color: $color-white !important;
  }
  .frame,
  &.frame {
    border-color: $color-white !important;
  }
  &.case-title {
    color: $color-white;
    border-color: $color-white;
  }

  #fp-nav ul li a span {
    background: $color-white;
  }
}

.flight {
  #nav .item.browse .square {
    border-color: $color-white !important;
  }
  #nav .item.browse .close:before,
  #nav .item.browse .close:after {
    background: $color-white !important;
  }
  #nav .item {
    color: $color-white !important;
    &.logo {
      background: transparent url(../images/logo_white.png) 0 0 no-repeat !important;
    }
  }
  .ui.header,
  .ui.header .sub.header {
    color: $color-white !important;
  }
  .frame,
  &.frame {
    border-color: $color-white !important;
  }
  &.case-title {
    color: $color-white;
    border-color: $color-white;
  }
  .ui.card {
    background: rgba(9,78,147,.82);
  }
  #fp-nav ul li a span {
    background: rgba(9,78,147,1);
  }
}

.sokolniki {
  .ui.menu .item {
    color: $color-sokolniki;
    &.logo {
      background: #fb0676 url(../images/logo.png) 0 0 no-repeat;
    }
  }

  .ui.header,
  .ui.header .sub.header {
    color: $color-sokolniki;

  }
  .frame,
  &.frame {
    border-color: $color-sokolniki !important;
  }
  &.case-title {
    color: $color-sokolniki;
    border-color: $color-sokolniki;
  }
  .ui.card {
    background: rgba(81,177,72,.6);
  }
  #fp-nav ul li a span {
    background: $color-sokolniki;
  }
}





/*******************************
         Site Breakpoints
*******************************/

/* Portrait */
#mobile {
  display: none;
}



/* Mobile */
@media only screen and (max-width: 767px) {

  html {
    background: rgba(0, 0, 0, .88);
    header,
    main,
    footer,
    #fp-nav {
      display: none !important;
    }
    #mobile {
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .88) url(../images/logo_white.png) center center no-repeat;
      color: white;
      font-size: 2em;
      font-family: 'Lato Medium';
      text-align: center;
      padding-top: 20px;
      min-height: 200px;
    }
  }


}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  html {
    background: rgba(0, 0, 0, .88);
    header,
    main,
    footer,
    #fp-nav {
      display: none !important;
    }
    #mobile {
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .88) url(../images/logo_white.png) center center no-repeat;
      color: white;
      font-size: 1em;
      line-height: 1;
      font-family: 'Lato Medium';
      text-align: center;
      padding-top: 20px;
      min-height: 200px;
    }
  }


}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Large Monitor */
@media only screen and (min-width: 1200px) {

}
