/*******************************
         Site Overrides
*******************************/
$color-white: rgb(255,255,255);
$color-black: rgb(35,21,32);
$color-pink: rgb(236,0,140);
$color-grey: rgb(88,88,88);
$color-flight: rgb(0,30,72);
$color-flight-active: rgb(9,78,147);
$color-flight-main:   rgb(9,78,147);
$color-2t: rgb(125,211,243);
$color-2t-active: rgb(125,211,243);
$color-2t-main:   rgb(72,61,54);
$color-sokolniki: rgb(32,79,38);
$color-sokolniki-active: rgb(32,79,38);
$color-sokolniki-main:   rgb(77,179,72);
$color-fazer: rgb(247,145,0);
$color-fazer-active: #cccccc;
$color-fazer-main: rgb(247,145,0);


a {
  color: $color-black;
  &:hover {
    color: $color-pink;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $color-grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color-grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $color-grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: $color-grey;
}

.hidden {
  display: none !important;
}

.section{
  position: relative;
}
.slide{
  position: relative;
}
.footer {
  min-height: 100px;
  background: $color-black;
}


.fp-controlArrow.fp-prev {
  width: 36px;
  height: 36px;
  left: 0;
  margin-top: -2px;
  border: none;
  background: url(../images/arrow_black.png) 0 0 no-repeat;
}

.fp-controlArrow.fp-next {
  width: 36px;
  height: 36px;
  left: 0;
  border: none;
  background: url(../images/arrow_white.png) 0 0 no-repeat;
}

.fp-controlArrow.fp-prev.right,
.fp-controlArrow.fp-next.right {
  right: 0;
  left: auto;
}


#nav {
	top: 50px;
  .menu {
    visibility: hidden;
  }
  .phone.right {
    margin-left: auto !important;
    margin-top: 5px;
  }
  .menu .item {
    display: inline-block !important;
    margin-top: 2px !important;
    padding: 0 1em  !important;
  }
	.item {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5px;
    height: 20px;
    line-height: 20px;
    font-family: 'Lato Regular';
		font-size: 1.44em;
		text-transform: uppercase;
		border-radius: 0;
    transition: 1s all;
		&:first-child {
			display: block;
      padding: 0;
      margin: 0;
			border: none;
		}
    &:last-child {
      padding-right: 0;
		}
    &:hover{
      background: none;
      .line-1 {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
      }
      .line-3 {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
      }
		}
    .browse {
      // position: relative;
      // width: 100px;
      cursor: pointer;
    }

    color: $color-flight;
    a {
      color: $color-flight;
      transition: 1s all;
    }
    i {
      display: block;
      position: relative;
      width: 20px;
      height: 2px;
      margin-bottom: 4px;
      background: #fff;
      background-color: $color-flight;
      transition: 1s all;
    }
    svg path {
      fill: $color-flight;
      transition: 1s all;
    }
    &.white {
      color: $color-white !important;
      svg path {
        fill: $color-white !important;
      }
      a {
        color: $color-white !important;
      }
      i {
        background-color: $color-white;
      }
    }
    &.pink {
      color: $color-pink !important;
      svg path {
        fill: $color-pink !important;
      }
      a {
        color: $color-pink !important;
      }
      i {
        background-color: $color-pink;
      }
    }
    &.black {
      color: $color-black !important;
      svg path {
        fill: $color-black !important;
      }
      a {
        color: $color-black !important;
      }
      i {
        background-color: $color-black;
      }
    }
    &.flight {
      color: $color-flight !important;
      svg path {
        fill: $color-flight !important;
      }
      a {
        color: $color-flight !important;
      }
      i {
        background-color: $color-flight;
      }
    }
    &.gallery-2t {
      color: $color-2t !important;
      svg path {
        fill: $color-2t !important;
      }
      a {
        color: $color-2t !important;
      }
      i {
        background-color: $color-2t;
      }
    }
    &.sokolniki {
      color: $color-sokolniki !important;
      svg path {
        fill: $color-sokolniki !important;
      }
      a {
        color: $color-sokolniki !important;
      }
      i {
        background-color: $color-sokolniki;
      }
    }
    &.fazer {
      color: $color-fazer !important;
      svg path {
        fill: $color-fazer !important;
      }
      a {
        color: $color-fazer !important;
      }
      i {
        background-color: $color-fazer;
      }
    }
	}
}



#home {
  .section.portfolio {
    .slide {
      .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .frame {
        max-width: 800px;
        margin: 0 auto;
        border: 4px solid white;
        text-align: center;
        transition: 1s all;
        .ui.header {
          display: block;
          margin: 0;
          padding: 0em 1.2em 0.3em 1.2em;
          font-family: 'Lato Regular';
          font-size: 5em;
          font-weight: normal;
          text-transform: lowercase;
          transition: 1s all;
          .sub.header {
            font-family: 'Lato Light';
            font-size: 1.6rem;
            line-height: 1;
            text-transform: uppercase;
            transition: 1s all;
          }
        }
      }
    }
  }

  .section.services {
    .ui.card {
      box-shadow: none;
      .content {
        padding: 0;
      }
      .header {
        font-family: 'Lato Regular';
        font-size: 1.4em;
        line-height: 1;
        text-transform: lowercase;
        color: $color-black;
      }
      .description {
        font-family: 'Lato Medium Italic';
        font-size: .88em;
        p {
          line-height: 1;
          color: $color-black;
        }
      }
      &.big {
        width: 100%;
        position: relative;
        .header {
          font-family: 'Lato Regular';
          font-size: 4em;
          text-align: right;
          text-transform: lowercase;
          line-height: 0.8;
          color: $color-black;
        }
        .meta {
          position: absolute;
          right: 0;
          top: 60px;
          font-family: 'Lato Light';
          font-size: 1.6em;
          text-transform: uppercase;
          text-align: right;
          visibility: hidden;
          color: $color-black;
        }
        .description {
          position: absolute;
          right: 0;
          top: 100px;
          max-width: 300px;
          color: #231f20;
          font-family: 'Lato Regular';
          font-size: 1.1em;
          line-height: 1.4em;
          text-align: left;
          visibility: hidden;
          color: $color-black;
        }
      }
    }
  }

  .section.contact {

    .slide.contact {
      .ui.card {
        width: 100%;
        background: transparent;
        box-shadow: none;
        .content {
          padding: 0;
        }
        .header {
          font-family: 'Lato Regular';
          font-size: 2em;
          font-weight: normal;
          a {
            color: $color-white;
          }
        }
        .description {
          font-family: 'Lato Regular';
          font-size: 1.2em;
          margin-top: 2em;
          p, a {
            margin-bottom: 0;
            color: $color-white;
          }
          .fb {
            display: block;
            margin-top: 2em;
            font-weight: bold;
          }
        }
        &.big {
          width: 100%;
          position: relative;
          .header {
            font-family: 'Lato Regular';
            font-size: 4em;
            text-align: right;
            text-transform: lowercase;
            color: $color-white;
          }
          .meta {
            font-family: 'Lato Light';
            font-size: 1.2em;
            text-transform: uppercase;
            text-align: right;
            color: $color-white;
          }
          .description {
            position: absolute;
            right: 0;
            top: 100px;
            color: #231f20;
            font-family: 'Lato Regular';
            font-size: 1.1em;
            line-height: 1.4em;
            text-align: right;
            visibility: hidden;
            color: $color-black;
          }
        }
      }
    }

    .slide.map {
      .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .frame {
        max-width: 800px;
        margin: 0 auto;
        border: 4px solid $color-pink;
        text-align: center;
        .ui.header {
          display: block;
          margin: 0;
          padding: 0em 1.2em 0.3em 1.2em;
          font-family: 'Lato Regular';
          font-size: 5em;
          font-weight: normal;
          text-transform: lowercase;
          color: $color-pink;
          .sub.header {
            font-family: 'Lato Light';
            font-size: 1.6rem;
            line-height: 1;
            color: $color-pink;
            text-transform: capitalize;
          }
        }
      }
    }

    .slide.feedback {
      .ui.card {
        width: 100%;
        background: transparent;
        box-shadow: none;
        .content {
          padding: 0;
        }
        &.big {
          width: 100%;
          position: relative;
          .header {
            font-family: 'Lato Regular';
            font-size: 4em;
            text-align: right;
            text-transform: lowercase;
            color: $color-black;
          }
          .meta {
            font-family: 'Lato Light';
            font-size: 1.2em;
            text-transform: uppercase;
            text-align: right;
            color: $color-black;
          }
        }
      }
      .ui.form {
        span,
        input,
        textarea,
        .wpcf7-mail-sent-ok {
          font-family: 'Lato Regular';
          font-weight: normal;
          border-radius: 0;
          transition: 1s all;
        }
        input:focus,
        textarea:focus {
          border-color: $color-pink;
        }
      }
    }

  }
}



#case {
  .section.case {
    &.head {
      .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .frame {
        max-width: 800px;
        margin: 0 auto;
        border: 4px solid white;
        text-align: center;
        .ui.header {
          display: block;
          margin: 0;
          padding: 0em 1.2em 0.3em 1.2em;
          font-family: 'Lato Regular';
          font-size: 5em;
          font-weight: normal;
          text-transform: lowercase;
          .sub.header {
            font-family: 'Lato Light';
            font-size: 1.6rem;
            line-height: 1;
            text-transform: uppercase;
          }
        }
      }
    }
    .info-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
    }
    .ui.card {
      width: 50%;
      background: none;
      border-radius: 0;
      box-shadow: none;
      .content {
        padding: 0;
      }
      .header {
        font-family: 'Lato Regular';
        font-weight: normal;
        font-size: 4.8em;
        line-height: 1;
        text-transform: lowercase;
        margin-top: 0;
        margin-bottom: 0.2em;
      }
      .meta {
        font-family: 'Lato Light';
        font-size: 1.4em;
        text-transform: uppercase;
        margin-bottom: 2em;
      }
      .description {
        font-family: 'Lato Regular';
        font-size: 1.12em;
        text-align: left;
        max-width: 300px;
        p {
          line-height: 1.2em;
        }
      }
    }
  }
}



#error404 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  .wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .frame {
    max-width: 800px;
    margin: 0 auto;
    border: 4px solid white;
    text-align: center;
    border-color: $color-black;
    .ui.header {
      display: block;
      margin: 0;
      padding: 0em 1.2em 0.3em 1.2em;
      font-family: 'Lato Regular';
      font-size: 5em;
      font-weight: normal;
      text-transform: lowercase;
      .sub.header {
        font-family: 'Lato Light';
        font-size: 1.6rem;
        line-height: 1;
        text-transform: uppercase;
      }
    }
  }
}


/*******************************
         Site Pages Styles
*******************************/



#home {
  #slide-fazer {
    .frame {
      border-color: $color-white;
      .ui.header,
      .ui.header .sub.header {
        color: $color-white;
      }
      &:hover {
        border-color: $color-fazer;
        .ui.header,
        .ui.header .sub.header {
          color: $color-fazer;
        }
      }
    }
  }
}

#page-fazer {
  ::selection {
    background-color:$color-fazer-main;
    color: $color-white;
  }
  #nav .item {
    &:hover {
      color: $color-fazer-main;
    }
    &.logo {
      svg path {
        fill: $color-black;
      }
      &:hover {
        svg path {
          fill: $color-fazer-main;
        }
      }
    }
    &.phone a:hover{
      color: $color-fazer-main;
    }
    &.browse:hover {
      .close:before,
      .close:after {
        background-color: $color-fazer-active;
      }
    }
  }
  #head-fazer {
    .frame {
      border-color: $color-white;
      .ui.header,
      .ui.header .sub.header {
        color: $color-white;
      }
    }
  }
  #info-fazer {
    .info-bg {
      background: $color-fazer-main;
      opacity: 0.7;
    }
    .ui.card {
      .header,
      .meta,
      .description {
        color: $color-white;
      }
    }
  }
  #case-fazer-4 {
    .ui.card {
      .header,
      .meta,
      .description {
        color: $color-black;
      }
    }
  }
  #fp-nav ul li a span:hover {
    background:$color-fazer-main;
  }
}





#home {
  #slide-2t {
    .frame {
      border-color: $color-2t-main;
      .ui.header,
      .ui.header .sub.header {
        color: $color-2t-main;
      }
      &:hover {
        border-color: $color-2t;
        .ui.header,
        .ui.header .sub.header {
          color: $color-2t;
        }
      }
    }
  }
}

#page-2t {
  ::selection {
    background-color:$color-2t-active;
  }
  #nav .item {
    &:hover {
      color: $color-2t-active;
    }
    &.logo {
      svg path {
        fill: $color-black;
      }
      &:hover {
        svg path {
          fill: $color-2t-active;
        }
      }
    }
    &.phone a:hover{
      color: $color-2t-active;
    }
    &.browse:hover {
      .close:before,
      .close:after {
        background-color: $color-2t-active;
      }
    }
  }
  #head-2t {
    .frame {
      border-color: $color-2t-main;
      .ui.header,
      .ui.header .sub.header {
        color: $color-2t-main;
      }
    }
  }
  #info-2t {
    .info-bg {
      background: $color-2t-main;
      opacity: 0.8;
    }
    .ui.card {
      .header,
      .meta,
      .description {
        color: $color-white;
      }
    }
  }
  #case-2t-1 {
    .ui.card {
      .header,
      .meta,
      .description {
        color: $color-black;
      }
    }
  }
  #fp-nav ul li a span:hover {
    background:$color-2t-active;
  }
}




#home {
  #slide-flight {
    .frame {
      border-color: $color-white;
      .ui.header,
      .ui.header .sub.header {
        color: $color-white;
      }
      &:hover {
        border-color: $color-flight;
        .ui.header,
        .ui.header .sub.header {
          color: $color-flight;
        }
      }
    }
  }
}

#page-flight {
  ::selection {
    background-color:$color-flight-active;
    color: $color-white;
  }
  #nav .item {
    &:hover {
      color: $color-flight-active;
    }
    &.logo {
      svg path {
        fill: $color-black;
      }
      &:hover {
        svg path {
          fill: $color-flight-active;
        }
      }
    }
    &.phone a:hover{
      color: $color-flight-active;
    }
    &.browse:hover {
      .close:before,
      .close:after {
        background-color: $color-flight-active;
      }
    }
  }
  #head-flight {
    .frame {
      border-color: $color-white;
      .ui.header,
      .ui.header .sub.header {
        color: $color-white;
      }
    }
  }
  #info-flight {
    .info-bg {
      background: $color-flight-main;
      opacity: 0.8;
    }
    .ui.card {
      .header,
      .meta,
      .description {
        color: $color-white;
      }
    }
  }
  #case-flight-1 {
    .ui.card {
      .header,
      .meta,
      .description {
        color: $color-black;
      }
    }
  }
  #fp-nav ul li a span:hover {
    background:$color-flight-active;
  }
}




#home {
  #slide-sokolniki {
    .frame {
      border-color: $color-white;
      .ui.header,
      .ui.header .sub.header {
        color: $color-white;
      }
      &:hover {
        border-color: $color-sokolniki;
        .ui.header,
        .ui.header .sub.header {
          color: $color-sokolniki;
        }
      }
    }
  }
}

#page-sokolniki {
  ::selection {
    background-color:$color-sokolniki-active;
    color: $color-white;
  }
  #nav .item {
    &:hover {
      color: $color-sokolniki-active;
    }
    &.logo {
      svg path {
        fill: $color-black;
      }
      &:hover {
        svg path {
          fill: $color-sokolniki-active;
        }
      }
    }
    &.browse:hover {
      .close:before,
      .close:after {
        background-color: $color-sokolniki-active;
      }
    }
  }
  #head-sokolniki {
    .frame {
      border-color: $color-sokolniki-active;
      .ui.header,
      .ui.header .sub.header {
        color: $color-sokolniki-active;
      }
    }
  }
  #info-sokolniki {
    .info-bg {
      background: $color-sokolniki-main;
      opacity: 0.8;
    }
    .ui.card {
      .header,
      .meta,
      .description {
        color: $color-white;
      }
    }
  }
  #case-sokolniki-1 {
    .ui.card {
      .header,
      .meta,
      .description {
        color: $color-black;
      }
    }
  }
  #fp-nav ul li a span:hover {
    background:$color-sokolniki-active;
  }
}




/*******************************
         Site Breakpoints
*******************************/

/* Portrait */
#mobile {
  display: none;
}


/* Mobile */
@media only screen and (max-width: 767px) {

  #nav {
    left: 10px;
    top: 10px;
    .item {
      // padding-left: 0.4em;
      // padding-right: 0.4em;
    }
    .item.phone {
      display: none;
    }
  }

  #home {
    .section.portfolio {
      .wrap {
        padding: 40px;
      }
      .slide {
        .frame .ui.header {
          font-size: 2.8em;
          line-height: 1em;
          word-break: break-word;
        }
      }

    }

    .section.services {
      .ui.grid {
        margin-top: 60px !important;
      }
      .fp-tableCell {
        vertical-align: top !important;
      }
      .ui.card.big .meta {
        top: 50px;
      }
      .ui.card.big .description {
        top: 70px;
      }
    }

    .section.contact {

      .slide.contact {
        .ui.card {
          .content,
          .header,
          .meta {
            text-align: center !important;
          }
        }
      }
      .slide.map {
        .wrap {
          padding: 40px;
        }
        .frame .ui.header {
          padding-left: 0;
          padding-right: 0;
          font-size: 4em;
        }
      }
      .slide.feedback {
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        .ui.card.big .header {
          font-size: 2em;
          text-align: center;
        }
        .ui.card.big .meta {
          text-align: center;
          font-size: 1em;
        }
      }

    }
  }

  #case {

    .section.case {
      .wrap {
        padding: 10px;
      }
      .ui.card .header {
        font-size: 3.6em;
      }
      .ui.card .meta {
        font-size: 1.1em;
      }
    }

  }



  #home .section.portfolio .slide .frame .ui.header,
  #case .section.case.head .frame .ui.header {
    padding: 0em 0.2em 0.4em 0.2em;
    font-size: 2.8em;
  }

  #case .section.case .info-bg,
  #case .section.case .ui.card {
    width: 100%;
  }

  #case .section.case .ui.card .description {
    max-width: 90%;
  }

  #case .section.case .ui.card .header,
  #case .section.case .ui.card .meta,
  #case .section.case .ui.card .description {
    color: $color-white;
  }

  #case .section.case .ui.card .header,
  #case .section.case .ui.card .meta {
    text-align: center;
  }

  #page-fazer .section.case .info-bg {
    background: $color-fazer-main;
    opacity: 0.8;
  }

  #page-2t .section.case .info-bg {
    background: $color-2t-main;
    opacity: 0.8;
  }

  #page-flight .section.case .info-bg {
    background: $color-flight-main;
    opacity: 0.8;
  }

  #page-sokolniki .section.case .info-bg {
    background: $color-sokolniki-main;
    opacity: 0.8;
  }



  // header,
  // footer,
  // #fp-nav {
  //   display: none !important;
  // }
  // html {
  //   background: rgba(0, 0, 0, .96);
  // }
  // #mobile {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(0, 0, 0, .96) url(../images/logo_white.png) center center no-repeat;
  //   color: white;
  //   font-size: 1.6em;
  //   line-height: 2em;
  //   font-family: 'Lato Regular';
  //   text-align: center;
  //   padding-top: 40px;
  //   min-height: 200px;
  //   position: fixed;
  //   left: 0;
  //   top: 0;
  // }


}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  #nav {
    margin-top: 10px;
    margin-left: 10px;
    .item {
      padding-left: 0.4em;
      padding-right: 0.4em;
    }
    .item.phone {
      display: none;
    }
  }

  #home .section.services .ui.card.big .meta {
    top: 50px;
  }

  #home .section.services .ui.card.big .description {
    top: 70px;
  }

  #home .section.portfolio .slide .frame .ui.header,
  #case .section.case.head .frame .ui.header {
    padding: 0em 0.4em 0.4em 0.4em;
    font-size: 4em;
  }

  #case .section.case .info-bg,
  #case .section.case .ui.card {
    width: 100%;
  }

  #case .section.case .ui.card .description {
    max-width: 90%;
  }

  #case .section.case .ui.card .header,
  #case .section.case .ui.card .meta,
  #case .section.case .ui.card .description {
    color: $color-white;
  }

  #case .section.case .ui.card .header,
  #case .section.case .ui.card .meta {
    text-align: center;
  }

  #page-fazer .section.case .info-bg {
    background: $color-fazer-main;
    opacity: 0.8;
  }

  #page-2t .section.case .info-bg {
    background: $color-2t-main;
    opacity: 0.8;
  }

  #page-flight .section.case .info-bg {
    background: $color-flight-main;
    opacity: 0.8;
  }

  #page-sokolniki .section.case .info-bg {
    background: $color-sokolniki-main;
    opacity: 0.8;
  }

}

/* Small Monitor */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

/* Large Monitor */
@media only screen and (min-width: 1200px) {

}
