
// Fonts
@include font-face('Lato', '/assets/fonts/lato-regular-webfont');
@include font-face('Lato Light', '/assets/fonts/lato-light-webfont');
@include font-face('Lato Medium Italic', '/assets/fonts/lato-mediumitalic-webfont');



// Colors
$color-white: rgb(255,255,255);
$color-black: rgb(35,21,32);
$color-pink: rgb(236,0,140);
$color-grey: rgb(88,88,88);

$color-zu: rgb(42,72,59);
$color-flight: rgb(0,51,130);
$color-2t: rgb(125,211,243);
$color-2tb:   rgb(72,61,54);
$color-sokolniki: rgb(32,79,38);
$color-sokolnikib:   rgb(77,179,72);
$color-fazer: rgb(247,145,0);
$color-testogenon: rgb(175,179,165);



// Grid
.container {
  @include outer-container;
  $mobile: new-breakpoint(max-width $mobile-width 4);
  $tablet: new-breakpoint(min-width $mobile-width max-width $tablet-width 8);
  @include media($mobile) {
    padding: 0 20px;
  }
  @include media($tablet) {
    padding: 0 20px;
  }
  .two.column {
    @include span-columns(2);
    @include media($mobile) {
      @include span-columns(4);
      margin: 0;
    }
    @include media($tablet) {
      @include span-columns(4);
      margin: 0;
    }
  }
  .four.column {
    @include span-columns(4);
    @include media($mobile) {
      @include span-columns(4);
    }
    @include media($tablet) {
      @include span-columns(8);
    }
  }
  .six.column {
    @include span-columns(6);
    @include media($mobile) {
      @include span-columns(4);
    }
    @include media($tablet) {
      @include span-columns(8);
    }
  }
  .full.column {
    @include span-columns(12);
  }
}



// Mixins
@include placeholder {
  color: $color-grey;
}

@mixin box-shadow($color) {
  box-shadow: 0px 0px 10px $color;
}

@mixin text-shadow($color) {
  text-shadow: 0px 0px 10px $color;
}

@mixin font-lato($size: false, $lh: false, $weight: false,  $lowercase: false) {
    font-family: 'Lato', sans-serif;
    @if $size { font-size: $size; }
    @if $lh { line-height: $lh; }
    @if $weight { font-weight: $weight; }
    @if $lowercase { text-transform: $lowercase; }
}

@mixin font-lato-light($size: false, $lh: false, $weight: false,  $lowercase: false) {
    font-family: 'Lato Light', sans-serif;
    @if $size { font-size: $size; }
    @if $lh { line-height: $lh; }
    @if $weight { font-weight: $weight; }
    @if $lowercase { text-transform: $lowercase; }
}

@mixin font-lato-italic($size: false, $lh: false, $weight: false,  $lowercase: false) {
    font-family: 'Lato Medium Italic', sans-serif;
    @if $size { font-size: $size; }
    @if $lh { line-height: $lh; }
    @if $weight { font-weight: $weight; }
    @if $lowercase { text-transform: $lowercase; }
}

@mixin home-color($color-active: false, $color-main: false) {
  @include selection {
    color:  $color-main;
    background-color: $color-active;
  }
  .nav {
    .logo {
     .out path {
       fill: $color-main;
     }
     .in path {
       fill: transparent;
     }
     &:hover {
       .out path {
         fill: transparent;
       }
       .in path {
         fill: $color-active;
       }
     }
   }
   .browse {
     color: $color-main;
     .browse-inner,
     .browse-inner:before,
     .browse-inner:after {
       background-color: $color-main;
     }
     &:hover,
     &.action {
       color: $color-active;
       .browse-inner,
       .browse-inner:before,
       .browse-inner:after {
         background-color: $color-active;
       }
     }
   }
   .item,
   .phone {
     color: $color-main;
     &:hover {
       color: $color-active;
     }
   }
  }
  .frame {
    border-color: $color-main;
    .title,
    .sub,
    .more {
      color: $color-main;
    }
    &.link:hover {
      cursor: pointer;
      border-color: $color-main;
      background: rgba($color-active, .5);
    }
  }
  .card {
    color: $color-main;
    p, a {
      color: $color-main;
    }
  }
  .fp-controlArrow,
  .fp-verticalArrow {
    color: $color-main;
    path {
      fill: $color-main;
      stroke: $color-main;
    }
    &:hover {
      color: $color-active;
      path {
        fill: $color-active;
        stroke: $color-active;
      }
    }
  }
}

@mixin case-color($color-active: false, $color-main: false) {
  @include selection {
    color:  $color-main;
    background-color: $color-active;
  }
  .card {
    color: $color-main;
    p, a {
      color: $color-main;
    }
  }
  &.fp-viewing-0,
  &.fp-viewing-1 {
    .nav {
      .logo {
       .out path {
         fill: $color-main;
       }
       .in path {
         fill: transparent;
       }
       &:hover {
         .out path {
           fill: transparent;
         }
         .in path {
           fill: $color-active;
         }
       }
     }
     .browse {
       color: $color-main;
       .browse-inner,
       .browse-inner:before,
       .browse-inner:after {
         background-color: $color-main;
       }
       &:hover,
       &.action {
         color: $color-active;
         .browse-inner,
         .browse-inner:before,
         .browse-inner:after {
           background-color: $color-active;
         }
       }
     }
     .item,
     .phone {
       color: $color-main;
       &:hover {
         color: $color-active;
       }
     }
    }
    .frame {
      border-color: $color-main;
      .title,
      .sub,
      .more {
        color: $color-main;
      }
    }
    .card {
      color: $color-main;
      p, a {
        color: $color-main;
      }
    }
    .back {
      background: rgba($color-active, .5);
    }
    .button.show {
      color: $color-main;
      border: 1px solid $color-active;
      background-color: rgba($color-active, .5);
      &:hover {
        color: $color-active;
        border: 1px solid $color-active;
        background-color: rgba($color-active, 0);
      }
    }
    .fp-controlArrow,
    .fp-verticalArrow {
      color: $color-main;
      path {
        fill: $color-main;
        stroke: $color-main;
      }
      &:hover {
        color: $color-active;
        path {
          fill: $color-active;
          stroke: $color-active;
        }
      }
    }

  }

  &.fp-viewing-2,
  &.fp-viewing-3,
  &.fp-viewing-4,
  &.fp-viewing-5,
  &.fp-viewing-6,
  &.fp-viewing-7,
  &.fp-viewing-8,
  &.fp-viewing-9,
  &.fp-viewing-10,
  &.fp-viewing-11 {
    .nav {
      .logo {
       .out path {
         fill: $color-active;
       }
       .in path {
         fill: transparent;
       }
       &:hover {
         .out path {
           fill: transparent;
         }
         .in path {
           fill: $color-active;
         }
       }
     }
     .browse {
       color: $color-active;
       .browse-inner,
       .browse-inner:before,
       .browse-inner:after {
         background-color: $color-active;
       }
       &:hover,
       &.action {
         color: $color-active;
         .browse-inner,
         .browse-inner:before,
         .browse-inner:after {
           background-color: $color-active;
         }
       }
     }
     .item,
     .phone {
       color: $color-active;
       &:hover {
         color: $color-active;
       }
     }
    }
    .fp-controlArrow,
    .fp-verticalArrow {
      color: $color-active;
      path {
        fill: $color-active;
        stroke: $color-active;
      }
      &:hover {
        color: $color-active;
        path {
          fill: $color-active;
          stroke: $color-active;
        }
      }
    }
    .card {
      color: $color-black;
      p, a {
        color: $color-black;
      }
    }
    .card.info {
      color: $color-main;
      p, a {
        color: $color-main;
      }
    }

  }

}




// Header
.header {
  width: 100%;
  z-index: 101;
  @include position(fixed, 1.4em auto auto 0);
}



// Navigation
.nav {
  @include display(flex);
  @include align-items(inherit);
  @include flex-direction(inherit);
  .logo {
    path {
      @include transition(all 0.5s ease-in-out);
    }
  }
  .item,
  .phone {
    padding: 0 1em;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    @include transition(all 0.5s ease-in-out);
  }
  .phone {
    height: 1.5em;
    margin-left: auto;
    padding-right: 0;
    @include media($mobile) {
      display: none;
    }
  }
  .menu {
    display: none;
    visibility: hidden;
    @include transition(all 0.5s ease-in-out);
    .item {
      opacity: 0;
      line-height: 1;
      vertical-align: middle;
    }
    &.action {
      display: block;
      visibility: visible;
      .item {
        opacity: 1;
      }
    }
  }
  .browse {
    height: 1.5em;
    padding: 0 1em;
    background: none;
    outline: none;
    .text {
      padding-left: 5px;
      font-size: 1.5em;
      line-height: 1;
      font-weight: bold;
      text-transform: uppercase;
      vertical-align: middle;
      @include transition(all 0.5s ease-in-out);
      @include media($mobile) {
        display: none;
      }
    }
    //hover
    &:hover {
      .browse-inner {
        &:before {width: 80%;}
        &:after {width: 40%;}
      }
    }
    //click
    &.action {
      .text {opacity: 0;}
      .browse-inner {
        background: transparent !important;
        &:before,
        &:after {
          top: 0;
          width: 100% !important;
        }
        &:before {
          @include transform(rotate3d(0, 0, 1, 45deg));
        }
        &:after {
          @include transform(rotate3d(0, 0, 1, -45deg));
        }
      }
    }
  }
  .browse-inner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .browse-inner,
  .browse-inner:before,
  .browse-inner:after {
    width: 24px;
    height: 3px;
    background-color: $color-flight;
    @include transition(all 0.5s ease-in-out);
  }
  .browse-inner:before,
  .browse-inner:after {
    content: '';
    position: absolute;
    left: 0;
    @include transform-origin(50% 50%);
  }
  .browse-inner:before {top: -0.5em;}
  .browse-inner:after {top: 0.5em;}

}



// Portfolio
.section.portfolio {

  .frame {
    overflow: hidden;
    @include backface-visibility(hidden);
    .title,
    .sub {
      @include backface-visibility(hidden);
      .sub.title {
        @include text-shadow(rgba($color-black, .5));
      }
    }
    .more {
      @include text-shadow(rgba($color-black, .5));
      @include backface-visibility(hidden);
    }
    &:hover {
      background: $color-black;
      .title,
      .sub {
        @include transform(translateY(-200%));
      }
      .more {
       top: 0;
       opacity: 1 !important;
     }
    }

  }

  .slide.start .frame {
    display: none;
  }

}



// Frame
.frame {
  display: inline-block;
  position: relative;
  overflow: hidden;
  max-width: 60%;
  padding: 0 4em 1em;
  border: 3px solid white;
  text-align: center;
  @include box-shadow(rgba($color-black, .3));
  @include transition(all 0.5s ease-in-out);
  .title {
    display: block;
    margin: 0;
    @include font-lato(4em, 1.2, normal, lowercase);
    @include text-shadow(rgba($color-black, .5));
    @include transition(all 0.5s ease-in-out);
  }
  .sub {
    @include font-lato-light(1.5rem, 1.5, normal, uppercase);
    @include text-shadow(rgba($color-black, .5));
    @include transition(all 0.5s ease-in-out);
  }
  .more {
    display: inline-block;
    width: 100%;
    opacity: 0;
    @include position(absolute, 150% auto auto 0);
    @include font-lato-light(2rem, 4em, normal, lowercase);
    @include transition(all 0.5s ease-in-out);
  }
}



// Services
.section.services {
  .container {
    @include media($mobile) {
      padding: 100px 20px !important;
    }
    @include media($tablet) {
      padding: 100px 20px !important;
    }
    .card {
      &.big {
        .item {
          display: none;
          &.pr {
            display: block;
          }
        }
      }
    }
  }
}



// Contact
.section.contact {

  .slide.contact {

  }

  .slide.feedback {
    .ui.card {
      &.big {
        .header,
        .meta {
          color: $color-black;
        }
      }
    }
    .ui.form {
      span,
      input,
      textarea,
      .wpcf7-mail-sent-ok {

        font-weight: normal;
        border-radius: 0;
        transition: 1s all;
      }
      input:focus,
      textarea:focus {
        border-color: $color-pink;
      }
      .wpcf7-form-control-wrap {
        position: initial;
      }
      .field {
        position: relative;
      }
      .wpcf7-not-valid-tip,
      .wpcf7-response-output {
        font-family: 'Lato Regular' !important;
        font-weight: normal;
      }
      .wpcf7-form label.error {
        color: $color-pink !important;
      }
      .theme_1.wpcf7-form input.error,
      .theme_1.wpcf7-form select.error,
      .theme_1.wpcf7-form textarea.error {
        border-bottom: 2px solid $color-pink !important;
      }
    }

  }

}



// Card
.card {
  position: relative;
  @include display(flex);
  @include flex-direction(column);
  @include transition(all 0.5s ease-in-out);
  .content {
    @include flex-grow(1);
    margin: 0;
    padding: 0;
  }
  .title {
    text-align: left;
    @include font-lato(2em, 1, normal, lowercase);
  }
  .description {
    text-align: left;
    @include font-lato(1.2em, 1, normal, none);
  }
  // Big Right Card
  &.big {
    .title {
      text-align: right;
      @include font-lato(4em, 1, normal, lowercase);
    }
    .meta {
      text-align: right;
      @include font-lato-light(1.5em, 1, normal, uppercase);
    }
    .description {
      padding-top: 1em;
      padding-left: 10%;
      text-align: left;
      @include font-lato(1.2em, 1, normal, none);
    }
  }
  // Services
  &.service {
    .content {
      min-height: 200px;
      padding: 100px 0;
      @include media($tablet) {
        min-height: 0;
        padding: 0 0;
      }
      @include media($mobile) {
        min-height: 0;
        padding: 0 0;
      }
    }
    .title {
      text-align: left;
      @include font-lato(1.5em, 1.5, bold, lowercase);
    }
    .description {
      text-align: left;
      @include font-lato-italic(0.8em, 1, normal, none);
    }
    &.big {
      .content {
        height: 300px;
      }
      .title {
        text-align: right;
        @include font-lato(4em, 1, normal, lowercase);
      }
      .description {
        text-align: left;
        @include font-lato(1em, 1, normal, none);
      }
    }
  }
  // Contact
  &.contact {
    .title {
      display: block;
      margin-bottom: 1em;
    }
    .fb {
      display: block;
      margin-top: 2em;
      font-weight: bold;
    }
    &.big {
      .title {
        margin: 0;
      }
    }
  }
  // Feedback
  &.feedback {
    .content {
      height: 400px;
    }
  }
 // Case Info
  &.info,
  &.case {
    .title {
      text-align: left;
      @include font-lato(4em, 1.5, normal, lowercase);
    }
    .meta {
      text-align: left;
      @include font-lato-light(1.5em, 1, normal, uppercase);
    }
    .description {
      text-align: left;
      padding-top: 1em;
      padding-right: 30%;
      @include font-lato(1em, 1, normal, none);
    }
  }
}



// Case
.section.case {

  &.info {
    .back {
      width: 50%;
      height: 100%;
      @include position(absolute, 0 auto auto 0);
      @include transition(all 0.5s ease-in-out);
    }
    .back,
    .card {
      opacity: 0;
      left: -100%;
    }
    &.action {
      .back,
      .card  {
        opacity: 1;
        left: 0;
      }
    }
    .button {
      @include transition(all 0.5s ease-in-out);
      outline: none;
      &:hover,
      &:focus {
        background-color: transparent;
      }
      &.show {
        @include position(absolute, auto auto 20% 20%);
        border: 1px solid $color-white;
        text-transform: none;
      }
      &.hide {
        width: 100%;
        height: 100%;
        cursor: none;
      }
    }

  }


}



// Arrows
.fp-controlArrow {
  width: 20px !important;
  height: 60px;
  margin-top: -30px;
  padding: 0 20px;
  border: none;
  z-index: 104;
  @include transition(all 0.5s ease-in-out);
  path {
    @include transition(all 0.5s ease-in-out);
  }
  &.fp-prev {
    left: 25px;
    svg {
      float: right;
    }
    &:hover {
    	left: 20px;
      @include transform(scale(1.2));
    }
  }
  &.fp-next {
    right: 25px;
    svg {
      float: left;
    }
    &:hover {
    	right: 20px;
      @include transform(scale(1.2));
    }
  }
}
.fp-verticalArrow {
  position: fixed;
  left: 50%;
  width: 60px;
  height: 20px;
  padding: 0;
  margin-left: -30px;
  cursor: pointer;
  z-index: 104;
  @include transition(all 0.5s ease-in-out);
  path {
    @include transition(all 0.5s ease-in-out);
  }
  &.fp-up {
    top: 20px;
    &:hover {
      top: 25px;
      @include transform(scale(1.2));
    }
  }
  &.fp-down {
    bottom: 20px;
    &:hover {
      bottom: 25px;
      @include transform(scale(1.2));
    }
  }
  &.fp-top {
    display: none;
    opacity: 0;
    bottom: 40px;
    font-weight: bold;
    text-align: center;
    &:hover {
      bottom: 50px;
      @include transform(scale(1.2));
    }
  }
}



// Misc
.hidden {
  display: none !important;
}
.section,
.slide {
  position: relative;
  overflow: hidden;
}








  // Team
  .section.team {

  }

  // Loader
  .preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $color-black;
  }
.fp-tableCell {
  text-align: center;
}



#error404 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

}




// Keyboard Help
.ui.help {
  position: absolute;
  z-index: 125;
  width: 66px;
  height: 44px;
  bottom: 100px;
  margin-left: -33px;
  left: 50%;
  color: #fff;
  text-align: center;
  @include transform(translateZ(0));
}

.mouse {
  height: 42px;
}

.keyboard {
  float: left;
  position: relative;
  height: 45px;
  &:before {
    position: absolute;
    left: 0;
    top: -8px;
    bottom: -12px;
    width: 1px;
    background: currentColor;
    opacity: .2;
    content: '';
  }
  svg  {
    display: block;
  }
  path {
    fill: currentColor;
  }
}

.keyboard-content {
  position: relative;
}

.keyboard-bg {
  display: block;
  opacity: .3;
}

.keyboard-overlay {
  position: absolute;
  top: 0;
  left: 0;
  .keyboard-button-left,
  .keyboard-button-right,
  .keyboard-button-down {
    display: block;
  }
  .keyboard-button-top {
    display: none;
  }
}







/*******************************
    Section Colors
*******************************/
body.home {

  .fp-verticalArrow,
  .fp-controlArrow {
    &.start {
      display: none;
    }
  }

  // Start
  &.fp-viewing-portfolio-0 {
    @include home-color($color-pink, $color-white);
    .fp-verticalArrow {
      display: none;
      &.start {
        display: inline-block;
        // border: 1px solid red;
        width: 600px;
        height: 30% !important;
        margin-left: -300px !important;
        position: absolute !important;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        @include media($mobile) {
          width: 60px;
          margin-left: -30px !important;
        }
        @include media($tablet) {
          width: 400px;
          margin-left: -200px !important;
        }
      }

    }
    .fp-controlArrow {
      display: none;
      &.start {
        display: inline-block;
        // border: 1px solid red;
        width: 30% !important;
        height: 600px;
        margin-top: -300px !important;
        @include media($mobile) {
          height: 60px;
          margin-top: -30px !important;
        }
        @include media($tablet) {
          height: 400px;
          margin-top: -200px !important;
        }
        &.fp-prev {
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        &.fp-next {
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }

    }
  }

  // Portfolio ZU
  &.fp-viewing-portfolio-1 {
    @include home-color($color-zu, $color-white);
    .fp-verticalArrow.fp-up {
      display: none;
    }
  }

  // Portfolio Flight
  &.fp-viewing-portfolio-2 {
    @include home-color($color-flight, $color-white);
    .fp-verticalArrow.fp-up {
      display: none;
    }
  }

  // Portfolio 2T
  &.fp-viewing-portfolio-3 {
    @include home-color($color-2t, $color-white);
    .fp-verticalArrow.fp-up {
      display: none;
    }
  }

  // Portfolio Sokolniki
  &.fp-viewing-portfolio-4 {
    @include home-color($color-sokolniki, $color-white);
    .fp-verticalArrow.fp-up {
      display: none;
    }
    .frame {
      border-color: $color-sokolniki;
      .title,
      .sub {
        color: $color-sokolniki;
      }
      .more {
        color: $color-white;
      }
    }
  }

  // Portfolio Fazer
  &.fp-viewing-portfolio-5 {
    @include home-color($color-fazer, $color-white);
    .fp-verticalArrow.fp-up {
      display: none;
    }
  }

  // Portfolio Testogenon
  &.fp-viewing-portfolio-6 {
    @include home-color($color-testogenon, $color-white);
    .fp-verticalArrow.fp-up {
      display: none;
    }
  }

  // Services
  &.fp-viewing-services {
    @include home-color($color-pink, $color-black);
  }

  // Team
  &.fp-viewing-team {
    @include home-color($color-white, $color-white);
  }

  // Contact
  &.fp-viewing-contact-0 {
    @include home-color($color-pink, $color-white);
    .fp-verticalArrow.fp-down {
      display: none;
    }
  }

  // Map
  &.fp-viewing-contact-1 {
    @include home-color($color-black, $color-pink);
    .fp-verticalArrow.fp-down {
      display: none;
    }
  }

  // Feedback
  &.fp-viewing-contact-2 {
    @include home-color($color-pink, $color-black);
    .fp-verticalArrow.fp-down {
      display: none;
    }
  }

}


body.zu {
  @include case-color($color-zu, $color-white);
  &.fp-viewing-0 {
    .fp-verticalArrow.fp-up {
      display: none;
    }
  }
  &.fp-viewing-8 {
    .fp-verticalArrow.fp-down {
      display: none !important;
    }
    .fp-verticalArrow.fp-top {
      display: block;
      opacity: 1;
    }
  }
}


body.flight {
  @include case-color($color-flight, $color-white);
  &.fp-viewing-0 {
    .fp-verticalArrow.fp-up {
      display: none;
    }
  }
  &.fp-viewing-6 {
    .fp-verticalArrow.fp-down {
      display: none !important;
    }
    .fp-verticalArrow.fp-top {
      opacity: 1;
      display: block;
    }
  }

}


body.gallery-2t {
  @include case-color($color-2t, $color-white);
  &.fp-viewing-0 {
    .fp-verticalArrow.fp-up {
      display: none;
    }
  }
  &.fp-viewing-6 {
    .fp-verticalArrow.fp-down {
      display: none !important;
    }
    .fp-verticalArrow.fp-top {
      opacity: 1;
      display: block;
    }
  }


}


body.sokolniki {
  @include case-color($color-sokolniki, $color-white);
  &.fp-viewing-0 {
    .fp-verticalArrow.fp-up {
      display: none;
    }
    .frame {
      border-color: $color-sokolniki;
      .title,
      .sub,
      .more {
        color: $color-sokolniki;
      }
    }
  }
  &.fp-viewing-11 {
    .fp-verticalArrow.fp-down {
      display: none !important;
    }
    .fp-verticalArrow.fp-top {
      opacity: 1;
      display: block;
    }
  }


}


body.fazer {
  @include case-color($color-fazer, $color-white);
  &.fp-viewing-0 {
    .fp-verticalArrow.fp-up {
      display: none;
    }
  }
  &.fp-viewing-1 {
    .nav {
      .logo {
       .out path {
         fill: $color-fazer;
       }
       .in path {
         fill: transparent;
       }
       &:hover {
         .out path {
           fill: transparent;
         }
         .in path {
           fill: $color-fazer;
         }
       }
     }
     .browse {
       color: $color-fazer;
       .browse-inner,
       .browse-inner:before,
       .browse-inner:after {
         background-color: $color-fazer;
       }
       &:hover,
       &.action {
         color: $color-fazer;
         .browse-inner,
         .browse-inner:before,
         .browse-inner:after {
           background-color: $color-fazer;
         }
       }
     }
     .item,
     .phone {
       color: $color-fazer;
       &:hover {
         color: $color-fazer;
       }
     }
    }
    .fp-controlArrow,
    .fp-verticalArrow {
      color: $color-fazer;
      path {
        fill: $color-fazer;
        stroke: $color-fazer;
      }
      &:hover {
        color: $color-fazer;
        path {
          fill: $color-fazer;
          stroke: $color-fazer;
        }
      }
    }
  }
  &.fp-viewing-5 {
    .fp-verticalArrow.fp-down {
      display: none !important;
    }
    .fp-verticalArrow.fp-top {
      opacity: 1;
      display: block;
    }
  }


}


body.testogenon {
  @include case-color($color-testogenon, $color-white);
  &.fp-viewing-0 {
    .fp-verticalArrow.fp-up {
      display: none;
    }
  }
  &.fp-viewing-4 {
    .fp-verticalArrow.fp-down {
      display: none !important;
    }
    .fp-verticalArrow.fp-top {
      opacity: 1;
      display: block;
    }
  }


}
