
// Fonts
@include font-face('Lato', '/assets/fonts/lato-regular-webfont');
@include font-face('Lato Light', '/assets/fonts/lato-light-webfont');
@include font-face('Lato Medium Italic', '/assets/fonts/lato-mediumitalic-webfont');



// Colors
$color-white: rgb(255,255,255);
$color-black: rgb(35,21,32);
$color-pink: rgb(236,0,140);
$color-grey: rgb(88,88,88);

$color-zu: rgb(42,72,59);
$color-flight: rgb(0,51,130);
$color-2t: rgb(125,211,243);
$color-2tb:   rgb(72,61,54);
$color-sokolniki: rgb(32,79,38);
$color-sokolnikib:   rgb(77,179,72);
$color-fazer: rgb(247,145,0);
$color-testogenon: rgb(175,179,165);



// Grid
.container {
  @include outer-container;
  @include display(flex);
  @include align-items(inherit);
  @include flex-direction(inherit);
  .two.column {
    @include span-columns(2);
  }
  .four.column {
    @include span-columns(4);
  }
  .six.column {
    @include span-columns(6);
  }
  .full.column {
    @include span-columns(12);
  }
}



// Mixins
@include placeholder {
  color: $color-grey;
}

@mixin box-shadow($color) {
  box-shadow: 0px 0px 10px $color;
}

@mixin text-shadow($color) {
  text-shadow: 0px 0px 10px $color;
}

@mixin font-lato($size: false, $lh: false, $weight: false,  $lowercase: false) {
    font-family: 'Lato', sans-serif;
    @if $size { font-size: $size; }
    @if $lh { line-height: $lh; }
    @if $weight { font-weight: $weight; }
    @if $lowercase { text-transform: $lowercase; }
}

@mixin font-lato-light($size: false, $lh: false, $weight: false,  $lowercase: false) {
    font-family: 'Lato Light', sans-serif;
    @if $size { font-size: $size; }
    @if $lh { line-height: $lh; }
    @if $weight { font-weight: $weight; }
    @if $lowercase { text-transform: $lowercase; }
}

@mixin font-lato-italic($size: false, $lh: false, $weight: false,  $lowercase: false) {
    font-family: 'Lato Medium Italic', sans-serif;
    @if $size { font-size: $size; }
    @if $lh { line-height: $lh; }
    @if $weight { font-weight: $weight; }
    @if $lowercase { text-transform: $lowercase; }
}

@mixin section-color($color-set: false, $color-bg: false) {
  @include selection {
    color:  $color-bg;
    background-color: $color-set;
  }
  .nav {
    .logo {
     .out path {
       fill: $color-bg;
     }
     .in path {
       fill: transparent;
     }
     &:hover {
       .out path {
         fill: transparent;
       }
       .in path {
         fill: $color-set;
       }
     }
   }
   .browse {
     color: $color-bg;
     .browse-inner,
     .browse-inner:before,
     .browse-inner:after {
       background-color: $color-bg;
     }
     &:hover,
     &.action {
       color: $color-set;
       .browse-inner,
       .browse-inner:before,
       .browse-inner:after {
         background-color: $color-set;
       }
     }
   }
   .item {
     color: $color-bg;
     &:hover {
       color: $color-set;
     }
   }
  }
  .frame {
    border-color: $color-bg;
    .title,
    .sub,
    .more {
      color: $color-bg;
    }
    &.link:hover {
      border-color: $color-bg;
      background: rgba($color-set, .5);
    }
  }
  .fp-controlArrow,
  .fp-verticalArrow {
    path {
      fill: $color-bg;
      stroke: $color-bg;
    }
    &:hover path {
      fill: $color-set;
      stroke: $color-set;
    }
  }
}



// Header
.header {
  width: 100%;
  z-index: 101;
  @include position(fixed, 1.4em auto auto 0em);
}



// Navigation
.nav {
  .logo {
    path {
      @include transition(all 0.5s ease-in-out);
    }
  }
  .item,
  .phone {
    padding: 0 1em;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    @include transition(all 0.5s ease-in-out);
  }
  .phone {
    height: 1.5em;
    margin-left: auto;
  }
  .menu {
    display: none;
    visibility: hidden;
    @include transition(all 0.5s ease-in-out);
    .item {
      opacity: 0;
    }
    &.action {
      display: block;
      visibility: visible;
      .item {
        opacity: 1;
      }
    }
  }
  .browse {
    height: 1.5em;
    padding: 0 1em;
    background: none;
    outline: none;
    .text {
      padding-left: 5px;
      font-size: 1.5em;
      line-height: 1.5em;
      font-weight: bold;
      text-transform: uppercase;
      vertical-align: middle;
      @include transition(all 0.5s ease-in-out);
    }
    //hover
    &:hover {
      .browse-inner {
        &:before {width: 80%;}
        &:after {width: 40%;}
      }
    }
    //click
    &.action {
      .text {opacity: 0;}
      .browse-inner {
        background: transparent !important;
        &:before,
        &:after {
          top: 0;
          width: 100% !important;
        }
        &:before {
          @include transform(rotate3d(0, 0, 1, 45deg));
        }
        &:after {
          @include transform(rotate3d(0, 0, 1, -45deg));
        }
      }
    }
  }
  .browse-inner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .browse-inner,
  .browse-inner:before,
  .browse-inner:after {
    width: 24px;
    height: 3px;
    background-color: $color-flight;
    @include transition(all 0.5s ease-in-out);
  }
  .browse-inner:before,
  .browse-inner:after {
    content: '';
    position: absolute;
    left: 0;
    @include transform-origin(50% 50%);
  }
  .browse-inner:before {top: -0.5em;}
  .browse-inner:after {top: 0.5em;}

}



// Portfolio
.section.portfolio {

  .frame {
    overflow: hidden;
    @include backface-visibility(hidden);
    .title,
    .sub {

      @include backface-visibility(hidden);
      .sub.title {
        @include text-shadow(rgba($color-black, .5));
      }
    }
    .more {
      @include text-shadow(rgba($color-black, .5));
      @include backface-visibility(hidden);
    }
    &:hover {
      background: $color-black;
      .title,
      .sub {
        @include transform(translateY(-200%));
      }
      .more {
       top: 0;
       opacity: 1 !important;
     }
    }

  }

}


// Frame
.fp-tableCell {text-align: center;}
.frame {
  display: inline-block;
  position: relative;
  overflow: hidden;
  max-width: 60%;
  padding: 0 3em 1em;
  border: 3px solid white;
  text-align: center;
  @include box-shadow(rgba($color-black, .3));
  @include transition(all 0.5s ease-in-out);
  .title {
    display: block;
    margin: 0;
    @include font-lato(4em, 1.2, normal, lowercase);
    @include text-shadow(rgba($color-black, .5));
    @include transition(all 0.5s ease-in-out);
  }
  .sub {
    @include font-lato-light(1.5rem, 1.5, normal, uppercase);
    @include text-shadow(rgba($color-black, .5));
    @include transition(all 0.5s ease-in-out);
  }
  .more {
    display: inline-block;
    width: 100%;
    opacity: 0;
    @include position(absolute, 150% auto auto 0);
    @include font-lato-light(2rem, 4em, normal, lowercase);
    @include transition(all 0.5s ease-in-out);
  }
}




// Card
.ui.card {
  position: relative;
  @include display(flex);
  @include flex-direction(column);
  .content {
    @include flex-grow(1);
    margin: 0;
    padding: 0;
    .header {

      font-size: 1.4em;
      font-weight: bold;
      line-height: 1.2857em;
      text-transform: lowercase;
    }
    .description {
      font-family: 'Lato Medium Italic';
      font-size: .88em;
      p {
        line-height: 1;
      }
    }
  }
  &.big {
    .header {
      font-size: 4em;
      text-align: right;
    }
    .meta {
      position: absolute;
      right: 0;
      top: 60px;
      font-family: 'Lato Light';
      font-size: 1.6em;
      font-weight: normal;
      text-transform: uppercase;
      text-align: right;
      visibility: hidden;
    }
    .description {
      position: absolute;
      right: 0;
      top: 100px;
      max-width: 300px;

      font-size: 1.1em;
      line-height: 1.4em;
      text-align: left;
      visibility: hidden;
    }
  }
}



// Arrows
.fp-controlArrow {
  width: 20px !important;
  height: 60px;
  margin-top: -30px;
  padding: 0 20px;
  border: none;
  z-index: 104;
  @include transition(all 0.5s ease-in-out);
  path {
    @include transition(all 0.5s ease-in-out);
  }
  &.fp-prev {
    left: 20px;
    svg {
      float: right;
    }
    &:hover {
      @include transform(scale(1.2));
    }
  }
  &.fp-next {
    right: 20px;
    svg {
      float: left;
    }
    &:hover {
      @include transform(scale(1.2));
    }
  }
}

.fp-verticalArrow {
  position: fixed;
  left: 50%;
  width: 60px;
  height: 20px;
  padding: 0;
  margin-left: -30px;
  cursor: pointer;
  z-index: 104;
  @include transition(all 0.5s ease-in-out);
  path {
    @include transition(all 0.5s ease-in-out);
  }
  &.fp-up {
    top: 20px;
    &:hover {
      top: 15px;
      @include transform(scale(1.2));
    }
  }
  &.fp-down {
    bottom: 20px;
    &:hover {
      bottom: 15px;
      @include transform(scale(1.2));
    }
  }
}


// Layout
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $color-black;
  .ui.text.loader {

  }
}





.hidden {
  display: none !important;
}

.section,
.slide {
  position: relative;
  overflow: hidden;
}






  // Services
  .section.services {
    .card.big {
      .meta,
      .description {
        visibility: hidden;
      }
    }
  }

  // Team
  .section.team {

  }

  // Contact
  .section.contact {

    .slide.contact {
      .ui.card {
        .header {
          font-size: 2em;
          font-weight: normal;
          a {
            color: $color-white;
          }
        }
        .description {

          font-size: 1.2em;
          margin-top: 2em;
          p, a {
            margin-bottom: 0;
            color: $color-white;
          }
          .fb {
            display: block;
            margin-top: 2em;
            font-weight: bold;
          }
        }
        &.big {
          width: 100%;
          position: relative;
          .header {
            font-size: 4em;
            color: $color-white;
          }
          .meta {
            font-family: 'Lato Light';
            font-size: 1.2em;
            text-transform: uppercase;
            text-align: right;
            color: $color-white;
            color: white;
            position: relative;
            visibility: visible;
            top: 0;
          }
          .description {
            position: absolute;
            right: 0;
            top: 100px;
            color: #231f20;

            font-size: 1.1em;
            line-height: 1.4em;
            text-align: right;
            visibility: hidden;
            color: $color-black;
          }
        }
      }
    }

    .slide.map {

    }

    .slide.feedback {
      .ui.card {
        &.big {
          .header,
          .meta {
            color: $color-black;
          }
        }
      }
      .ui.form {
        span,
        input,
        textarea,
        .wpcf7-mail-sent-ok {

          font-weight: normal;
          border-radius: 0;
          transition: 1s all;
        }
        input:focus,
        textarea:focus {
          border-color: $color-pink;
        }
        .wpcf7-form-control-wrap {
          position: initial;
        }
        .field {
          position: relative;
        }
        .wpcf7-not-valid-tip,
        .wpcf7-response-output {
          font-family: 'Lato Regular' !important;
          font-weight: normal;
        }
        .wpcf7-form label.error {
          color: $color-pink !important;
        }
        .theme_1.wpcf7-form input.error,
        .theme_1.wpcf7-form select.error,
        .theme_1.wpcf7-form textarea.error {
          border-bottom: 2px solid $color-pink !important;
        }
      }

    }

  }



#case {
  .section.case {

    &.info {
      .button {
        display: none !important;
        position: relative;
      }
    }
    .info-bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      @include transition(all 0.5s ease-in-out);
    }
    .ui.card {
      position: relative;
      opacity: 0;
      width: 50%;
      background: none;
      border-radius: 0;
      box-shadow: none;
      @include transition(all 0.5s ease-in-out);
      .content {
        padding: 0;
      }
      .header {

        font-weight: normal;
        font-size: 4.4em;
        line-height: 1;
        text-transform: lowercase;
        margin-top: 0;
        margin-bottom: 0.2em;
        @include transition(all 0.5s ease-in-out);
      }
      .meta {
        font-family: 'Lato Light';
        font-size: 1.4em;
        text-transform: uppercase;
        margin-bottom: 2em;
        @include transition(all 0.5s ease-in-out);
      }
      .description {

        font-size: 1.12em;
        text-align: left;
        max-width: 300px;
        @include transition(all 0.5s ease-in-out);
        p {
          line-height: 1.2em;
        }
      }
    }

  }
}


#error404 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

}




// Keyboard Help
.ui.help {
  position: absolute;
  z-index: 125;
  width: 66px;
  height: 44px;
  bottom: 100px;
  margin-left: -33px;
  left: 50%;
  color: #fff;
  text-align: center;
  @include transform(translateZ(0));
}

.mouse {
  height: 42px;
}

.keyboard {
  float: left;
  position: relative;
  height: 45px;
  &:before {
    position: absolute;
    left: 0;
    top: -8px;
    bottom: -12px;
    width: 1px;
    background: currentColor;
    opacity: .2;
    content: '';
  }
  svg  {
    display: block;
  }
  path {
    fill: currentColor;
  }
}

.keyboard-content {
  position: relative;
}

.keyboard-bg {
  display: block;
  opacity: .3;
}

.keyboard-overlay {
  position: absolute;
  top: 0;
  left: 0;
  .keyboard-button-left,
  .keyboard-button-right,
  .keyboard-button-down {
    display: block;
  }
  .keyboard-button-top {
    display: none;
  }
}







/*******************************
    Section Colors
*******************************/


body.home {

  // Portfolio ZU
  &.fp-viewing-portfolio-0 {
    @include section-color($color-zu, $color-white);
    .fp-verticalArrow.fp-up {
      display: none;
    }
  }

  // Portfolio Flight
  &.fp-viewing-portfolio-1 {
    @include section-color($color-flight, $color-white);
    .fp-verticalArrow.fp-up {
      display: none;
    }
  }

  // Portfolio 2T
  &.fp-viewing-portfolio-2 {
    @include section-color($color-2t, $color-white);
    .fp-verticalArrow.fp-up {
      display: none;
    }
  }

  // Portfolio Sokolniki
  &.fp-viewing-portfolio-3 {
    @include section-color($color-sokolniki, $color-white);
    .fp-verticalArrow.fp-up {
      display: none;
    }
  }

  // Portfolio Fazer
  &.fp-viewing-portfolio-4 {
    @include section-color($color-fazer, $color-white);
    .fp-verticalArrow.fp-up {
      display: none;
    }
  }

  // Portfolio Testogenon
  &.fp-viewing-portfolio-5 {
    @include section-color($color-testogenon, $color-white);
    .fp-verticalArrow.fp-up {
      display: none;
    }
  }

  // Services
  &.fp-viewing-services {
    @include section-color($color-black, $color-black);
  }

  // Team
  &.fp-viewing-team {
    @include section-color($color-white, $color-white);
  }

  // Contact
  &.fp-viewing-contact-0 {
    @include section-color($color-white, $color-white);
  }

  // Map
  &.fp-viewing-contact-1 {
    @include section-color($color-pink, $color-pink);
  }

  // Feedback
  &.fp-viewing-contact-2 {
    @include section-color($color-black, $color-black);
  }

}

body.zu {
  @include section-color($color-zu);
  &.fp-viewing-0 {
    .fp-verticalArrow.fp-up {
      display: none !important;
    }
    .nav .logo {
      .out path {
        fill: $color-white;
      }
      .in path {
        fill: transparent;
      }
      &:hover {
        .out path {
          fill: transparent;
        }
        .in path {
          fill: $color-zu;
        }
      }
    }
    .browse {
      color: $color-white;
      .browse-inner,
      .browse-inner:before,
      .browse-inner:after {
        background-color: $color-white;
      }
      &:hover {
        color: $color-zu;
        .browse-inner,
        .browse-inner:before,
        .browse-inner:after {
          background-color: $color-zu;
        }
      }
    }
    .fp-controlArrow,
    .fp-verticalArrow {
      path {
        fill: $color-white;
        stroke: $color-white;
      }
      &:hover path {
        fill: $color-zu;
        stroke: $color-zu;
      }
    }

  }
  &.fp-viewing-1 {
    .nav .logo {
      .out path {
        fill: $color-white;
      }
      .in path {
        fill: transparent;
      }
      &:hover {
        .out path {
          fill: transparent;
        }
        .in path {
          fill: $color-zu;
        }
      }
    }
    .browse {
      color: $color-white;
      .browse-inner,
      .browse-inner:before,
      .browse-inner:after {
        background-color: $color-white;
      }
      &:hover {
        color: $color-zu;
        .browse-inner,
        .browse-inner:before,
        .browse-inner:after {
          background-color: $color-zu;
        }
      }
    }
    .fp-controlArrow,
    .fp-verticalArrow {
      path {
        fill: $color-white;
        stroke: $color-white;
      }
      &:hover path {
        fill: $color-zu;
        stroke: $color-zu;
      }
    }
    .info-bg {
      background: rgba($color-zu, .5);
    }
    .ui.card {
      opacity: 1;
      .header,
      .meta,
      .description {
        color: $color-white;
      }
    }
  }
  &.fp-viewing-8 {
    .fp-verticalArrow.fp-down {
      display: none !important;
    }
  }

}


body.flight {
  ::selection {
    background-color:$color-flight;
    color: $color-white;
  }
  .nav .logo {
    .out path {
      fill: $color-flight;
    }
    .in path {
      fill: transparent;
    }
    &:hover {
      .out path {
        fill: transparent;
      }
      .in path {
        fill: $color-flight;
      }
    }
  }
  .browse {
    color: $color-flight;
    .browse-inner,
    .browse-inner:before,
    .browse-inner:after {
      background-color: $color-flight;
    }
    &:hover {
      color: $color-flight;
      .browse-inner,
      .browse-inner:before,
      .browse-inner:after {
        background-color: $color-flight;
      }
    }
  }
  .fp-controlArrow,
  .fp-verticalArrow {
    path {
      fill: $color-flight;
      stroke: $color-flight;
    }
    &:hover path {
      fill: $color-flight;
      stroke: $color-flight;
    }
  }
  .frame {
    border-color: $color-white !important;
    .header {
      color: $color-white !important;
    }
  }
  .ui.card {
    opacity: 1;
    .header,
    .meta,
    .description {
      color: $color-white;
    }
  }
  &.fp-viewing-0 {
    .fp-verticalArrow.fp-up {
      display: none !important;
    }
    .nav .logo {
      .out path {
        fill: $color-white;
      }
      .in path {
        fill: transparent;
      }
      &:hover {
        .out path {
          fill: transparent;
        }
        .in path {
          fill: $color-flight;
        }
      }
    }
    .browse {
      color: $color-white;
      .browse-inner,
      .browse-inner:before,
      .browse-inner:after {
        background-color: $color-white;
      }
      &:hover {
        color: $color-flight;
        .browse-inner,
        .browse-inner:before,
        .browse-inner:after {
          background-color: $color-flight;
        }
      }
    }
    .fp-controlArrow,
    .fp-verticalArrow {
      path {
        fill: $color-white;
        stroke: $color-white;
      }
      &:hover path {
        fill: $color-flight;
        stroke: $color-flight;
      }
    }
  }
  &.fp-viewing-1 {
    .nav .logo {
      .out path {
        fill: $color-white;
      }
      .in path {
        fill: transparent;
      }
      &:hover {
        .out path {
          fill: transparent;
        }
        .in path {
          fill: $color-flight;
        }
      }
    }
    .browse {
      color: $color-white;
      .browse-inner,
      .browse-inner:before,
      .browse-inner:after {
        background-color: $color-white;
      }
      &:hover {
        color: $color-flight;
        .browse-inner,
        .browse-inner:before,
        .browse-inner:after {
          background-color: $color-flight;
        }
      }
    }
    .fp-controlArrow,
    .fp-verticalArrow {
      path {
        fill: $color-white;
        stroke: $color-white;
      }
      &:hover path {
        fill: $color-flight;
        stroke: $color-flight;
      }
    }
    .case.info {
      .info-bg {
        background: rgba($color-flight, .7);
      }
      .ui.card {
        opacity: 1;
        .header,
        .meta,
        .description {
          color: $color-white;
        }
      }
    }

  }
  &.fp-viewing-2 {
    .case.case-2 {
      .info-bg {
        background: none;
      }
      .ui.card {
        opacity: 1;
        .header,
        .meta,
        .description {
          color: $color-black;
        }
      }
    }
  }
  &.fp-viewing-6 {
    .fp-verticalArrow.fp-down {
      display: none !important;
    }
    .ui.card {
      opacity: 1;
      .header,
      .meta,
      .description {
        color: $color-black;
      }
    }
  }

}


body.gallery-2t {
  ::selection {
    background-color:$color-2t;
    color: $color-white;
  }
  .nav .logo {
    .out path {
      fill: $color-2t;
    }
    .in path {
      fill: transparent;
    }
    &:hover {
      .out path {
        fill: transparent;
      }
      .in path {
        fill: $color-2t;
      }
    }
  }
  .browse {
    color: $color-2t;
    .browse-inner,
    .browse-inner:before,
    .browse-inner:after {
      background-color: $color-2t;
    }
    &:hover {
      color: $color-2t;
      .browse-inner,
      .browse-inner:before,
      .browse-inner:after {
        background-color: $color-2t;
      }
    }
  }
  .fp-controlArrow,
  .fp-verticalArrow {
    path {
      fill: $color-2t;
      stroke: $color-2t;
    }
    &:hover path {
      fill: $color-2t;
      stroke: $color-2t;
    }
  }
  .frame {
    border-color: $color-white !important;
    .header {
      color: $color-white !important;
    }
  }
  &.fp-viewing-0 {
    .fp-verticalArrow.fp-up {
      display: none !important;
    }
    .nav .logo {
      .out path {
        fill: $color-white;
      }
      .in path {
        fill: transparent;
      }
      &:hover {
        .out path {
          fill: transparent;
        }
        .in path {
          fill: $color-2t;
        }
      }
    }
    .browse {
      color: $color-white;
      .browse-inner,
      .browse-inner:before,
      .browse-inner:after {
        background-color: $color-white;
      }
      &:hover {
        color: $color-2t;
        .browse-inner,
        .browse-inner:before,
        .browse-inner:after {
          background-color: $color-2t;
        }
      }
    }
    .fp-controlArrow,
    .fp-verticalArrow {
      path {
        fill: $color-white;
        stroke: $color-white;
      }
      &:hover path {
        fill: $color-2t;
        stroke: $color-2t;
      }
    }

  }
  &.fp-viewing-1 {
    .nav .logo {
      .out path {
        fill: $color-white;
      }
      .in path {
        fill: transparent;
      }
      &:hover {
        .out path {
          fill: transparent;
        }
        .in path {
          fill: $color-2t;
        }
      }
    }
    .browse {
      color: $color-white;
      .browse-inner,
      .browse-inner:before,
      .browse-inner:after {
        background-color: $color-white;
      }
      &:hover {
        color: $color-2t;
        .browse-inner,
        .browse-inner:before,
        .browse-inner:after {
          background-color: $color-2t;
        }
      }
    }
    .fp-controlArrow,
    .fp-verticalArrow {
      path {
        fill: $color-white;
        stroke: $color-white;
      }
      &:hover path {
        fill: $color-2t;
        stroke: $color-2t;
      }
    }
    .case.info {
      .info-bg {
        background: rgba($color-2tb, .8);
      }
      .ui.card {
        opacity: 1;
        .header,
        .meta,
        .description {
          color: $color-white;
        }
      }
    }
  }
  &.fp-viewing-3 {
    .case.case-2 {
      .ui.card {
        opacity: 1;
        .header,
        .meta,
        .description {
          color: $color-black;
        }
      }
    }
  }
  &.fp-viewing-8 {
    .fp-verticalArrow.fp-down {
      display: none !important;
    }
  }
}


body.sokolniki {
  ::selection {
    background-color:$color-sokolniki;
    color: $color-white;
  }
  .nav .logo {
    .out path {
      fill: $color-sokolniki;
    }
    .in path {
      fill: transparent;
    }
    &:hover {
      .out path {
        fill: transparent;
      }
      .in path {
        fill: $color-sokolniki;
      }
    }
  }
  .browse {
    color: $color-sokolniki;
    .browse-inner,
    .browse-inner:before,
    .browse-inner:after {
      background-color: $color-sokolniki;
    }
    &:hover {
      color: $color-sokolniki;
      .browse-inner,
      .browse-inner:before,
      .browse-inner:after {
        background-color: $color-sokolniki;
      }
    }
  }
  .fp-controlArrow,
  .fp-verticalArrow {
    path {
      fill: $color-sokolniki;
      stroke: $color-sokolniki;
    }
    &:hover path {
      fill: $color-sokolniki;
      stroke: $color-sokolniki;
    }
  }
  .frame {
    border-color: $color-sokolniki !important;
    .header {
      color: $color-sokolniki !important;
    }
  }
  &.fp-viewing-0 {
    .fp-verticalArrow.fp-up {
      display: none !important;
    }
    .nav .logo {
      .out path {
        fill: $color-white;
      }
      .in path {
        fill: transparent;
      }
      &:hover {
        .out path {
          fill: transparent;
        }
        .in path {
          fill: $color-sokolniki;
        }
      }
    }
    .browse {
      color: $color-white;
      .browse-inner,
      .browse-inner:before,
      .browse-inner:after {
        background-color: $color-white;
      }
      &:hover {
        color: $color-sokolniki;
        .browse-inner,
        .browse-inner:before,
        .browse-inner:after {
          background-color: $color-sokolniki;
        }
      }
    }
    .fp-controlArrow,
    .fp-verticalArrow {
      path {
        fill: $color-white;
        stroke: $color-white;
      }
      &:hover path {
        fill: $color-sokolniki;
        stroke: $color-sokolniki;
      }
    }

  }
  &.fp-viewing-1 {
    .nav .logo {
      .out path {
        fill: $color-white;
      }
      .in path {
        fill: transparent;
      }
      &:hover {
        .out path {
          fill: transparent;
        }
        .in path {
          fill: $color-sokolniki;
        }
      }
    }
    .browse {
      color: $color-white;
      .browse-inner,
      .browse-inner:before,
      .browse-inner:after {
        background-color: $color-white;
      }
      &:hover {
        color: $color-sokolniki;
        .browse-inner,
        .browse-inner:before,
        .browse-inner:after {
          background-color: $color-sokolniki;
        }
      }
    }
    .fp-controlArrow,
    .fp-verticalArrow {
      path {
        fill: $color-white;
        stroke: $color-white;
      }
      &:hover path {
        fill: $color-sokolniki;
        stroke: $color-sokolniki;
      }
    }
    .case.info {
      .info-bg {
        background: rgba($color-sokolnikib, .6);
      }
      .ui.card {
        opacity: 1;
        .header,
        .meta,
        .description {
          color: $color-white;
        }
      }
    }

  }
  &.fp-viewing-10 {
    .fp-verticalArrow.fp-down {
      display: none !important;
    }
    .nav .logo {
      .out path {
        fill: $color-white;
      }
      .in path {
        fill: transparent;
      }
      &:hover {
        .out path {
          fill: transparent;
        }
        .in path {
          fill: $color-sokolniki;
        }
      }
    }
    .browse {
      color: $color-white;
      .browse-inner,
      .browse-inner:before,
      .browse-inner:after {
        background-color: $color-white;
      }
      &:hover {
        color: $color-sokolniki;
        .browse-inner,
        .browse-inner:before,
        .browse-inner:after {
          background-color: $color-sokolniki;
        }
      }
    }
    .fp-controlArrow,
    .fp-verticalArrow {
      path {
        fill: $color-white;
        stroke: $color-white;
      }
      &:hover path {
        fill: $color-sokolniki;
        stroke: $color-sokolniki;
      }
    }
  }

}


body.fazer {
  ::selection {
    background-color:$color-fazer;
    color: $color-white;
  }
  .nav .logo {
    .out path {
      fill: $color-fazer;
    }
    .in path {
      fill: transparent;
    }
    &:hover {
      .out path {
        fill: transparent;
      }
      .in path {
        fill: $color-fazer;
      }
    }
  }
  .browse {
    color: $color-fazer;
    .browse-inner,
    .browse-inner:before,
    .browse-inner:after {
      background-color: $color-fazer;
    }
    &:hover {
      color: $color-fazer;
      .browse-inner,
      .browse-inner:before,
      .browse-inner:after {
        background-color: $color-fazer;
      }
    }
  }
  .frame {
    border-color: $color-white !important;
    .header {
      color: $color-white !important;
    }
  }
  .ui.card {
    .header,
    .meta,
    .description {
      color: $color-white;
    }
  }
  .fp-controlArrow,
  .fp-verticalArrow {
    path {
      fill: $color-fazer;
      stroke: $color-fazer;
    }
    &:hover path {
      fill: $color-fazer;
      stroke: $color-fazer;
    }
  }
  &.fp-viewing-0 {
    .fp-verticalArrow.fp-up {
      display: none !important;
    }

  }
  &.fp-viewing-1 {
    .case.info {
      .info-bg {
        background: rgba($color-fazer, .6);
      }
      .ui.card {
        opacity: 1;
        .header,
        .meta,
        .description {
          color: $color-white;
        }
      }
    }
  }
  &.fp-viewing-5 {
    .fp-verticalArrow.fp-down {
      display: none !important;
    }
    .case.case-4 {
      .ui.card {
        opacity: 1;
        .header,
        .meta,
        .description {
          color: $color-black;
        }
      }
    }

  }

}


body.testogenon {
  ::selection {
    background-color:$color-testogenon;
    color: $color-white;
  }
  .nav .logo {
    .out path {
      fill: $color-testogenon;
    }
    .in path {
      fill: transparent;
    }
    &:hover {
      .out path {
        fill: transparent;
      }
      .in path {
        fill: $color-testogenon;
      }
    }
  }
  .browse {
    color: $color-testogenon;
    .browse-inner,
    .browse-inner:before,
    .browse-inner:after {
      background-color: $color-testogenon;
    }
    &:hover {
      color: $color-testogenon;
      .browse-inner,
      .browse-inner:before,
      .browse-inner:after {
        background-color: $color-testogenon;
      }
    }
  }
  .fp-controlArrow,
  .fp-verticalArrow {
    path {
      fill: $color-testogenon;
      stroke: $color-testogenon;
    }
    &:hover path {
      fill: $color-testogenon;
      stroke: $color-testogenon;
    }
  }
  &.fp-viewing-0 {
    .fp-verticalArrow.fp-up {
      display: none !important;
    }
    .nav .logo {
      .out path {
        fill: $color-white;
      }
      .in path {
        fill: transparent;
      }
      &:hover {
        .out path {
          fill: transparent;
        }
        .in path {
          fill: $color-testogenon;
        }
      }
    }
    .browse {
      color: $color-white;
      .browse-inner,
      .browse-inner:before,
      .browse-inner:after {
        background-color: $color-white;
      }
      &:hover {
        color: $color-testogenon;
        .browse-inner,
        .browse-inner:before,
        .browse-inner:after {
          background-color: $color-testogenon;
        }
      }
    }
    .fp-controlArrow,
    .fp-verticalArrow {
      path {
        fill: $color-white;
        stroke: $color-white;
      }
      &:hover path {
        fill: $color-testogenon;
        stroke: $color-testogenon;
      }
    }
    .frame {
      border-color: $color-white !important;
      .header {
        color: $color-white !important;
      }
    }
  }
  &.fp-viewing-1 {
    .nav .logo {
      .out path {
        fill: $color-white;
      }
      .in path {
        fill: transparent;
      }
      &:hover {
        .out path {
          fill: transparent;
        }
        .in path {
          fill: $color-testogenon;
        }
      }
    }
    .browse {
      color: $color-white;
      .browse-inner,
      .browse-inner:before,
      .browse-inner:after {
        background-color: $color-white;
      }
      &:hover {
        color: $color-testogenon;
        .browse-inner,
        .browse-inner:before,
        .browse-inner:after {
          background-color: $color-testogenon;
        }
      }
    }
    .fp-controlArrow,
    .fp-verticalArrow {
      path {
        fill: $color-white;
        stroke: $color-white;
      }
      &:hover path {
        fill: $color-testogenon;
        stroke: $color-testogenon;
      }
    }
    .info-bg {
      background: rgba($color-testogenon, .5);
    }
    .ui.card {
      opacity: 1;
      .header,
      .meta,
      .description {
        color: $color-white;
      }
    }
  }
  &.fp-viewing-4 {
    .fp-verticalArrow.fp-down {
      display: none !important;
    }

  }

}




/*******************************
         Site Breakpoints
*******************************/

/* Mobile */
@media only screen and (max-width: 767px) {

  #nav {
    left: 10px;
    top: 10px;
    .item {
      // padding-left: 0.4em;
      // padding-right: 0.4em;
    }
    .phone {
      display: none;
    }
  }

  #home {
    .section.portfolio {
      .wrap {
        padding: 40px;
      }
      .slide {
        .frame .ui.header {
          font-size: 2.8em;
          line-height: 1em;
          word-break: break-word;
        }
      }

    }

    .section.services {
      .ui.grid {
        margin-top: 60px !important;
      }
      .ui.grid .two.wide.column:last-child {
        display: none;
      }
      .fp-tableCell {
        vertical-align: top !important;
      }
      .ui.card.big .meta {
        top: 50px;
      }
      .ui.card .description {
        display: none;
      }
      .ui.card.big .description {
        top: 70px;
      }
    }

    .section.contact {

      .slide.contact {
        .ui.card {
          .content,
          .header,
          .meta {
            text-align: center !important;
          }
        }
      }
      .slide.map {
        .wrap {
          padding: 40px;
        }
        .frame .ui.header {
          padding-left: 0;
          padding-right: 0;
          font-size: 4em;
        }
      }
      .slide.feedback {
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        .ui.card.big .header {
          font-size: 2em;
          text-align: center;
        }
        .ui.card.big .meta {
          text-align: center;
          font-size: 1em;
        }
      }

    }
  }

  #case {

    .section.case {
      .wrap {
        padding: 10px;
      }
      .ui.card .header {
        font-size: 3.6em;
      }
      .ui.card .meta {
        font-size: 1.1em;
      }
    }

  }

  .fp-verticalArrow {
    display: none;
  }

  #home .section.portfolio .slide .frame .ui.header,
  #case .section.case.head .frame .ui.header {
    padding: 0em 0.2em 0.4em 0.2em;
    font-size: 2.8em;
  }

  #case .section.case .info-bg,
  #case .section.case .ui.card {
    width: 100%;
  }

  #case .section.case .ui.card .description {
    max-width: 90%;
  }

  #case .section.case .ui.card .header,
  #case .section.case .ui.card .meta,
  #case .section.case .ui.card .description {
    color: $color-white;
  }

  #case .section.case .ui.card .header,
  #case .section.case .ui.card .meta {
    text-align: center;
  }

  body-fazer .section.case .info-bg {
    background: $color-fazer;
    opacity: 0.8;
  }

  body-2t .section.case .info-bg {
    background: $color-2t;
    opacity: 0.8;
  }

  body-flight .section.case .info-bg {
    background: $color-flight;
    opacity: 0.8;
  }

  body-sokolniki .section.case .info-bg {
    background: $color-sokolniki;
    opacity: 0.8;
  }

}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  #nav {
    margin-top: 10px;
    margin-left: 10px;
    .item {
      padding-left: 0.4em;
      padding-right: 0.4em;
    }
    .item.phone {
      display: none;
    }
  }

  .fp-verticalArrow {
    display: none;
  }

  #home .section.services .ui.card.big .meta {
    top: 50px;
  }

  #home .section.services .ui.card.big .description {
    top: 70px;
  }

  #home .section.portfolio .slide .frame .ui.header,
  #case .section.case.head .frame .ui.header {
    padding: 0em 0.4em 0.4em 0.4em;
    font-size: 4em;
  }

  #case .section.case .info-bg,
  #case .section.case .ui.card {
    width: 100%;
  }

  #case .section.case .ui.card .description {
    max-width: 90%;
  }

  #case .section.case .ui.card .header,
  #case .section.case .ui.card .meta,
  #case .section.case .ui.card .description {
    color: $color-white;
  }

  #case .section.case .ui.card .header,
  #case .section.case .ui.card .meta {
    text-align: center;
  }

  body-fazer .section.case .info-bg {
    background: $color-fazer;
    opacity: 0.8;
  }

  body-2t .section.case .info-bg {
    background: $color-2t;
    opacity: 0.8;
  }

  body-flight .section.case .info-bg {
    background: $color-flight;
    opacity: 0.8;
  }

  body-sokolniki .section.case .info-bg {
    background: $color-sokolniki;
    opacity: 0.8;
  }

}
