// Fonts
@include font-face('Lato Light', '/assets/fonts/lato-light-webfont');
@include font-face('Lato Regular', '/assets/fonts/lato-regular-webfont');
@include font-face('Lato Medium Italic', '/assets/fonts/lato-mediumitalic-webfont');

// Typography
$regular: "Lato Regular", sans-serif;
$light: "Lato Light", sans-serif;
$italic: "Lato Medium Italic", sans-serif;

$base-font-family: $regular;

// Colors
$color-white: rgb(255,255,255);
$color-black: rgb(35,21,32);
$color-pink: rgb(236,0,140);
$color-grey: rgb(88,88,88);

$color-zu: rgb(42,72,59);
$color-flight: rgb(0,51,130);
$color-2t: rgb(125,211,243);
$color-2tb:   rgb(72,61,54);
$color-sokolniki: rgb(32,79,38);
$color-sokolnikib:   rgb(77,179,72);
$color-fazer: rgb(247,145,0);
$color-testogenon: rgb(175,179,165);
