/*! Made with Bones: http://themble.com/bones :) */
/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/
/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/
/* normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/*********************
IMPORTING MODULES
Modules are reusable blocks or elements we use throughout the project.
We can break them up as much as we want or just keep them all in one.
I mean, you can do whatever you want. The world is your oyster. Unless
you hate oysters, then the world is your peanut butter & jelly sandwich.
*********************/
/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/*********************
GENERAL STYLES
*********************/
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
  /**
 * Correct `inline-block` display not defined in IE 8/9.
 */
}
audio, canvas, video {
  display: inline-block;
  /**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
}
audio:not([controls]) {
  display: none;
  height: 0;
  /**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
}
[hidden], template {
  display: none;
  /* ==========================================================================
   Base
   ========================================================================== */
  /**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
}
html {
  /* 1 */
  font-family: sans-serif;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /**
 * Remove default margin.
 */
}
body {
  margin: 0;
  /* ==========================================================================
   Links
   ========================================================================== */
  /**
 * Remove the gray background color from active links in IE 10.
 */
}
a {
  background: transparent;
  /**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
}
a:focus {
  outline: thin dotted;
  /**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
}
a:active, a:hover {
  outline: 0;
  /* ==========================================================================
   Typography
   ========================================================================== */
  /**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
  /**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
}
abbr[title] {
  border-bottom: 1px dotted;
  /**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
}
b, strong, .strong {
  font-weight: bold;
  /**
 * Address styling not present in Safari 5 and Chrome.
 */
}
dfn, em, .em {
  font-style: italic;
  /**
 * Address differences between Firefox and other browsers.
 */
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  /*
 * proper formatting (http://blog.fontdeck.com/post/9037028497/hyphens)
*/
}
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  /*
 * Addresses margins set differently in IE6/7.
 */
}
pre {
  margin: 0;
  /**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
}
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
  /**
 * Improve readability of pre-formatted text in all browsers.
 */
}
pre {
  white-space: pre-wrap;
  /**
 * Set consistent quote types.
 */
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
  /**
 * Address inconsistent and variable font size in all browsers.
 */
}
q:before, q:after {
  content: '';
  content: none;
}
small, .small {
  font-size: 75%;
  /**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
  /* ==========================================================================
  Lists
========================================================================== */
  /*
 * Addresses margins set differently in IE6/7.
 */
}
dl, menu, ol, ul {
  margin: 1em 0;
}
dd {
  margin: 0;
  /*
 * Addresses paddings set differently in IE6/7.
 */
}
menu {
  padding: 0 0 0 40px;
}
ol, ul {
  padding: 0;
  list-style-type: none;
  /*
 * Corrects list images handled incorrectly in IE7.
 */
}
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  /* ==========================================================================
  Embedded content
========================================================================== */
  /**
 * Remove border when inside `a` element in IE 8/9.
 */
}
img {
  border: 0;
  /**
 * Correct overflow displayed oddly in IE 9.
 */
}
svg:not(:root) {
  overflow: hidden;
  /* ==========================================================================
   Figures
   ========================================================================== */
  /**
 * Address margin not present in IE 8/9 and Safari 5.
 */
}
figure {
  margin: 0;
  /* ==========================================================================
   Forms
   ========================================================================== */
  /**
 * Define consistent border, margin, and padding.
 */
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  /**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
}
legend {
  /* 1 */
  border: 0;
  /* 2 */
  padding: 0;
  /**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
}
button, input, select, textarea {
  /* 1 */
  font-family: inherit;
  /* 2 */
  font-size: 100%;
  /* 3 */
  margin: 0;
  /**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
}
button, input {
  line-height: normal;
  /**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
}
button, select {
  text-transform: none;
  /**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  /* 2 */
  -webkit-appearance: button;
  /* 3 */
  cursor: pointer;
  /**
 * Re-set default cursor for disabled elements.
 */
}
button[disabled], html input[disabled] {
  cursor: default;
  /**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
}
input[type="checkbox"], input[type="radio"] {
  /* 1 */
  box-sizing: border-box;
  /* 2 */
  padding: 0;
  /**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
}
input[type="search"] {
  /* 1 */
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  /* 2 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /**
 * Remove inner padding and border in Firefox 4+.
 */
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
  /**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
}
textarea {
  /* 1 */
  overflow: auto;
  /* 2 */
  vertical-align: top;
  /* ==========================================================================
   Tables
   ========================================================================== */
  /**
 * Remove most spacing between table cells.
 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.image-replacement, .ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.clearfix, .cf, .comment-respond {
  zoom: 1;
  /*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
}
.clearfix:before, .cf:before, .comment-respond:before, .clearfix:after, .cf:after, .comment-respond:after {
  content: "";
  display: table;
}
.clearfix:after, .cf:after, .comment-respond:after {
  clear: both;
}
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif !important;
  font-style: italic;
}
body {
  font-family: ;
  font-size: 100%;
  line-height: 1.5;
  color: #5c6b80;
  background-color: #eaedf2;
  background-color: red;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /********************
WORDPRESS BODY CLASSES
style a page via class
********************/
}
.rtl {
  /* for sites that are read right to left (i.e. hebrew) */
}
.home {
  /* home page */
}
.blog {
  /* blog template page */
}
.archive {
  /* archive page */
}
.date {
  /* date archive page */
}
.date-paged-1 {
  /* replace the number to the corresponding page number */
}
.search {
  /* search page */
}
.search-results {
  /* search result page */
}
.search-no-results {
  /* no results search page */
}
.search-paged-1 {
  /* individual paged search (i.e. body.search-paged-3) */
}
.error404 {
  /* 404 page */
}
.single {
  /* single post page */
}
.postid-1 {
  /* individual post page by id (i.e. body.postid-73) */
}
.single-paged-1 {
  /* individual paged single (i.e. body.single-paged-3) */
}
.attachment {
  /* attatchment page */
}
.attachmentid-1 {
  /* individual attatchment page (i.e. body.attachmentid-763) */
}
.attachment-mime-type {
  /* style mime type pages */
}
.author {
  /* author page */
}
.author-nicename {
  /* user nicename (i.e. body.author-samueladams) */
}
.author-paged-1 {
  /* paged author archives (i.e. body.author-paged-4) for page 4 */
}
.category {
  /* category page */
}
.category-1 {
  /* individual category page (i.e. body.category-6) */
}
.category-paged-1 {
  /* replace the number to the corresponding page number */
}
.tag {
  /* tag page */
}
.tag-slug {
  /* individual tag page (i.e. body.tag-news) */
}
.tag-paged-1 {
  /* replace the number to the corresponding page number */
}
.page-template {
  /* custom page template page */
}
.page-template-page-php {
  /* individual page template (i.e. body.page-template-contact-php */
}
.page-paged-1 {
  /* replace the number to the corresponding page number */
}
.page-parent {
  /* parent page template */
}
.page-child {
  /* child page template */
}
.parent-pageid-1 {
  /* replace the number to the corresponding page number */
}
.logged-in {
  /* if user is logged in */
}
.paged {
  /* paged items like search results or archives */
}
.paged-1 {
  /* individual paged (i.e. body.paged-3) */
  /*********************
LAYOUT & GRID STYLES
*********************/
  /*********************
LINK STYLES
*********************/
}
a, a:visited {
  /* on hover */
  color: #f01d4f;
  /******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
}
a:hover, a:visited:hover, a:focus, a:visited:focus {
  color: #d10e3c;
  /* on click */
}
a:active, a:visited:active {
  /* mobile tap color */
}
a:link, a:visited:link {
  -webkit-tap-highlight-color : rgba(0, 0, 0, 0.3);
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  text-rendering: optimizelegibility;
  /*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/
  /* removing text decoration from all headline links */
  font-weight: 500;
}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
}
h1, .h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}
h2, .h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}
h3, .h3 {
  font-size: 1.125em;
}
h4, .h4 {
  font-size: 1.1em;
  font-weight: 700;
}
h5, .h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
  /*********************
HEADER STYLES
*********************/
}
#logo {
  position: fixed;
  left: 100px;
  top: 45px;
  z-index: 1;
  /*********************
NAVIGATION STYLES
*********************/
}
#logo a {
  display: block;
  width: 45px;
  height: 45px;
  background: deeppink;
  color: white;
  font-size: 13px;
  line-height: 11px;
  word-wrap: break-word;
}
#nav {
  position: fixed;
  top: 50px;
  left: 100px;
  z-index: 80;
  margin: 0;
  background: none;
  border: none;
  box-shadow: none;
  /*********************
POSTS & CONTENT STYLES
*********************/
}
#nav .item {
  padding: 10px;
  color: dimgrey;
  font-size: 1.4em;
  text-transform: uppercase;
  border-radius: 0;
}
#nav .item:hover {
  color: white;
  background: none;
}
#nav .item.photo {
  color: white;
}
#nav .item.logo {
  display: block;
  width: 40px;
  height: 40px;
  background: #fb0676 url(../images/logo.png) 0 0 no-repeat;
  background-size: cover;
}
#nav li {
  display: inline-block;
  margin: 0 10px;
}
#nav li.active {
  color: white;
}
#nav li.active a:hover {
  color: white;
}
.hentry {
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 1.5em;
  border: 1px solid #ccc;
  /* end .hentry */
}
.hentry header {
  border-bottom: 1px solid #f8f9fa;
  padding: 1.5em;
}
.hentry footer {
  padding: 1.5em;
  border-top: 1px solid #f8f9fa;
}
.hentry footer p {
  margin: 0;
}
.single-title, .page-title, .entry-title {
  margin: 0;
}
.archive-title {
  /* want to style individual post classes? Booya! */
}
.post-id {
  /* post by id (i.e. post-3) */
}
.post {
  /* general post style */
}
.page {
  /* general article on a page style */
}
.attachment {
  /* general style on an attatchment */
}
.sticky {
  /* sticky post style */
}
.hentry {
  /* hentry class */
}
.category-slug {
  /* style by category (i.e. category-videos) */
}
.tag-slug {
  /* style by tag (i.e. tag-news) */
  /* post meta */
}
.byline {
  color: #9fa6b4;
  font-style: italic;
  margin: 0;
  /* entry content */
}
.entry-content {
  padding: 1.5em 1.5em 0;
  /* end .entry-content */
}
.entry-content p {
  margin: 0 0 1.5em;
}
.entry-content table {
  width: 100%;
  border: 1px solid #eaedf2;
  margin-bottom: 1.5em;
}
.entry-content table caption {
  margin: 0 0 7px;
  font-size: 0.75em;
  color: #9fa6b4;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.entry-content tr {
  border-bottom: 1px solid #eaedf2;
}
.entry-content tr:nth-child(even) {
  background-color: #f8f9fa;
}
.entry-content td {
  padding: 7px;
  border-right: 1px solid #eaedf2;
}
.entry-content td:last-child {
  border-right: 0;
}
.entry-content th {
  background-color: #f8f9fa;
  border-bottom: 1px solid #eaedf2;
  border-right: 1px solid #eaedf2;
}
.entry-content th:last-child {
  border-right: 0;
}
.entry-content blockquote {
  margin: 0 0 1.5em 0.75em;
  padding: 0 0 0 0.75em;
  border-left: 3px solid #2980b9;
  font-style: italic;
  color: #9fa6b4;
}
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em;
}
.entry-content img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto;
  /*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
}
.entry-content .size-auto, .entry-content .size-full, .entry-content .size-large, .entry-content .size-medium, .entry-content .size-thumbnail {
  max-width: 100%;
  height: auto;
}
.entry-content pre {
  background: #323944;
  color: #f8f9fa;
  font-size: 0.9em;
  padding: 1.5em;
  margin: 0 0 1.5em;
  border-radius: 3px;
}
.wp-caption {
  max-width: 100%;
  background: #eee;
  /* images inside wp-caption */
  padding: 5px;
  /* end .wp-caption */
  /* image gallery styles */
}
.wp-caption img {
  max-width: 100%;
  margin-bottom: 0;
  width: 100%;
}
.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  margin: 4px 0 7px;
  text-align: center;
}
.gallery {
  /* end .gallery */
  /* gallery caption styles */
}
.tags {
  margin: 0;
  /******************************************************************
PAGE NAVI STYLES
******************************************************************/
}
.pagination, .wp-prev-next {
  margin: 1.5em 0;
}
.pagination {
  text-align: center;
  /* end .bones_page_navi */
  /* fallback previous & next links */
}
.pagination ul {
  display: inline-block;
  background-color: #fff;
  white-space: nowrap;
  padding: 0;
  clear: both;
  border-radius: 3px;
}
.pagination li {
  padding: 0;
  margin: 0;
  float: left;
  display: inline;
  overflow: hidden;
  border-right: 1px solid #eaedf2;
}
.pagination a, .pagination span {
  margin: 0;
  text-decoration: none;
  padding: 0;
  line-height: 1em;
  font-size: 1em;
  font-weight: normal;
  padding: 0.75em;
  min-width: 1em;
  display: block;
  color: #2980b9;
}
.pagination a:hover, .pagination span:hover, .pagination a:focus, .pagination span:focus {
  background-color: #2980b9;
  color: #fff;
}
.pagination .current {
  cursor: default;
  color: #5c6b80;
}
.pagination .current:hover, .pagination .current:focus {
  background-color: #fff;
  color: #5c6b80;
}
.wp-prev-next {
  /* end .wp-prev-next */
  /******************************************************************
COMMENT STYLES
******************************************************************/
  /* h3 comment title */
}
.wp-prev-next .prev-link {
  float: left;
}
.wp-prev-next .next-link {
  float: right;
}
#comments-title {
  padding: 0.75em;
  margin: 0;
  /* number of comments span */
  border-top: 1px solid #f8f9fa;
}
.commentlist {
  margin: 0;
  list-style-type: none;
}
.comment {
  position: relative;
  clear: both;
  overflow: hidden;
  padding: 1.5em;
  border-bottom: 1px solid #f8f9fa;
  /* comment meta */
}
.comment .comment-author {
  padding: 7px;
  border: 0;
  /* vcard */
}
.comment .vcard {
  margin-left: 50px;
  /* end .commentlist .vcard */
}
.comment .vcard cite.fn {
  font-weight: 700;
  font-style: normal;
}
.comment .vcard time {
  display: block;
  font-size: 0.9em;
  font-style: italic;
}
.comment .vcard time a {
  color: #9fa6b4;
  text-decoration: none;
}
.comment .vcard time a:hover {
  text-decoration: underline;
}
.comment .vcard .avatar {
  position: absolute;
  left: 16px;
  border-radius: 50%;
}
.comment:last-child {
  margin-bottom: 0;
}
.comment .children {
  margin: 0;
  /* end children */
}
.comment .children li {
  /* variations */
}
.comment .children .depth-1 {
  /* change number for different depth */
}
.comment[class*=depth-] {
  margin-top: 1.1em;
}
.comment.depth-1 {
  margin-left: 0;
  margin-top: 0;
}
.comment:not(.depth-1) {
  margin-top: 0;
  margin-left: 7px;
  padding: 7px;
}
.comment.depth-5 {
  /* general comment classes */
}
.comment.odd {
  background-color: #fff;
}
.comment.even {
  background: #f8f9fa;
}
.commentmetadata {
  /* comment content */
}
.comment_content {
  /* end .commentlist .comment_content */
  /* comment reply link */
}
.comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}
.comment-reply-link {
  font-size: 0.9em;
  float: right;
  /* end .commentlist .comment-reply-link */
  /* edit comment link */
}
.comment-edit-link {
  font-style: italic;
  margin: 0 7px;
  text-decoration: none;
  font-size: 0.9em;
  /******************************************************************
COMMENT FORM STYLES
******************************************************************/
}
.comment-respond {
  padding: 1.5em;
  border-top: 1px solid #f8f9fa;
}
#reply-title {
  margin: 0;
}
.logged-in-as {
  color: #9fa6b4;
  font-style: italic;
  margin: 0;
}
.logged-in-as a {
  color: #5c6b80;
}
.comment-form-comment {
  margin: 1.5em 0 0.75em;
}
.form-allowed-tags {
  padding: 1.5em;
  background-color: #f8f9fa;
  font-size: 0.9em;
  /* comment submit button */
}
#submit {
  float: right;
  font-size: 1em;
  /* comment form title */
}
#comment-form-title {
  margin: 0 0 1.1em;
  /* cancel comment reply link */
}
#cancel-comment-reply {
  /* logged in comments */
}
.comments-logged-in-as {
  /* allowed tags */
}
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
  /* no comments */
}
.nocomments {
  margin: 0 20px 1.1em;
  /*********************
SIDEBARS & ASIDES
*********************/
}
.widget ul li a {
  /* deep nesting */
}
.no-widgets {
  background-color: #fff;
  padding: 1.5em;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 1.5em;
  /*********************
FOOTER STYLES
*********************/
}
.footer {
  clear: both;
  background-color: #323944;
  color: #f8f9fa;
  /*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
}
.footer-links {
  /* end .footer-links */
}
.copyright {
  /* Backgrounds will cover all the section
	* --------------------------------------- */
}
.section {
  background-size: cover;
}
.slide {
  position: relative;
  background-size: cover;
  /* Defining each section background and styles
	* --------------------------------------- */
}
#section3 h1 {
  color: #000;
  /* Bottom menu
	* --------------------------------------- */
}
#infoMenu li a {
  color: #fff;
}
.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent gray;
}
.fp-controlArrow.fp-prev {
  border-color: transparent gray transparent transparent;
  /* Home
	* --------------------------------------- */
}
.case-link {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 100px;
  margin-left: -200px;
  margin-top: -50px;
  border: 4px solid white;
  font-size: 4em;
  text-transform: lowercase;
  text-align: center;
  line-height: 88px;
  color: white;
}
@media only screen and (min-width: 481px) {
  /******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
  /*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
  /*********************
NAVIGATION STYLES
*********************/
  /*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/  .nav {
    /* .menu is clearfixed inside mixins.scss */
  }
  .menu {
    /* end .menu */
    /*********************
POSTS & CONTENT STYLES
*********************/
    /* entry content */
  }
  .menu ul {
    /* end .menu ul */
  }
  .menu ul li {
    /* end .menu ul li */
    /* highlight current page */
  }
  .menu ul li:last-child {
    /*
				plan your menus and drop-downs wisely.
				*/
  }
  .menu ul li.current-menu-item, .menu ul li.current_page_item, .menu ul li.current_page_ancestor {
    /* end current highlighters */
  }
  .entry-content {
    /* end .entry-content */
    /*********************
FOOTER STYLES
*********************/
    /*
check your menus here. do they look good?
do they need tweaking?
*/
  }
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
  .footer-links {
    /* end .footer-links */
  }
}
@media only screen and (min-width: 768px) {
  /******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
  /*********************
GENERAL STYLES
*********************/
  /*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/  body {
    /*********************
LAYOUT & GRID STYLES
*********************/
  }
  .wrap {
    width: 760px;
    /*********************
HEADER STYLES
*********************/
  }
  #logo {
    /*********************
NAVIGATION STYLES
*********************/
  }
  .nav {
    border: 0;
    /* end .nav */
    /*********************
SIDEBARS & ASIDES
*********************/
  }
  .nav ul {
    background: #323944;
    margin-top: 0;
  }
  .nav li {
    float: left;
    position: relative;
    /* end .menu ul li */
    /* highlight current page */
  }
  .nav li a {
    /*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
    border-bottom: 0;
  }
  .nav li a:hover, .nav li a:focus {
    color: #fff;
    text-decoration: underline;
  }
  .nav li:last-child {
    /*
		plan your menus and drop-downs wisely.
		*/
  }
  .nav li ul.sub-menu, .nav li ul.children {
    margin-top: 0;
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    visibility: hidden;
    z-index: 8999;
    /* showing sub-menus */
  }
  .nav li ul.sub-menu li, .nav li ul.children li {
    /* highlight sub-menu current page */
  }
  .nav li ul.sub-menu li a, .nav li ul.children li a {
    padding-left: 10px;
    border-right: 0;
    display: block;
    width: 180px;
    border-bottom: 1px solid #ccc;
  }
  .nav li ul.sub-menu li:last-child, .nav li ul.children li:last-child {
    /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
  }
  .nav li ul.sub-menu li:last-child a, .nav li ul.children li:last-child a {
    border-bottom: 0;
  }
  .nav li ul.sub-menu li ul, .nav li ul.children li ul {
    top: 0;
    left: 100%;
  }
  .nav li:hover > ul {
    top: auto;
    visibility: visible;
  }
  .nav li.current-menu-item, .nav li.current_page_item, .nav li.current_page_ancestor {
    /* end current highlighters */
  }
  .sidebar {
    margin-top: 2.2em;
  }
  .widgettitle {
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em;
  }
  .widget {
    padding: 0 10px;
    margin: 2.2em 0;
    /* links widget */
  }
  .widget ul li {
    margin-bottom: 0.75em;
  }
  .widget ul li a {
    /* deep nesting */
  }
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em;
  }
  .widget_links ul li a {
    /* meta widget */
  }
  .widget_meta ul li a {
    /* pages widget */
  }
  .widget_pages ul li a {
    /* recent-posts widget */
  }
  .widget_recent_entries ul li a {
    /* archives widget */
  }
  .widget_archive option {
    /* tag-cloud widget */
  }
  .widget_tag_cloud a:before {
    /* calendar widget */
  }
  #wp-calendar #prev a {
    /* category widget */
  }
  .widget_categories .level-3 {
    /* recent-comments widget */
  }
  .widget_recent_comments {
    /* search widget */
  }
  .screen-reader-text {
    /* text widget */
  }
  .textwidget p {
    /*********************
FOOTER STYLES
*********************/
    /*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
  }
  .footer-links {
    /* end .footer-links */
  }
  .footer-links ul li a {
    /*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
  }
}
@media only screen and (min-width: 1030px) {
  /******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
  /*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/  .wrap {
    width: 1040px;
  }
}
@media only screen and (min-width: 1240px) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/
  /*********************
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*********************/}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
Site Name: 
Author: 

Stylesheet: Retina Screens & Devices Stylesheet

When handling retina screens you need to make adjustments, especially
if you're not using font icons. Here you can add them in one neat
place.

******************************************************************/
  /* 

EXAMPLE 
Let's say you have an image and you need to make sure it looks ok
on retina screens. Let's say we have an icon which dimension are
24px x 24px. In your regular stylesheets, it would look something
like this:

.icon {
	width: 24px;
	height: 24px;
	background: url(img/test.png) no-repeat;
}

For retina screens, we have to make some adjustments, so that image
doesn't look blurry. So, taking into account the image above and the
dimensions, this is what we would put in our retina stylesheet:

.icon {
	background: url(img/test@2x.png) no-repeat;
	background-size: 24px 24px;
}

So, you would create the same icon, but at double the resolution, meaning 
it would be 48px x 48px. You'd name it the same, but with a @2x at the end
(this is pretty standard practice). Set the background image so it matches
the original dimensions and you are good to go. 

*/
  /*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/}
@media print {
  /******************************************************************
Site Name:
Author:

Stylesheet: Print Stylesheet

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. If you want to
though, go for it.

******************************************************************/  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
  .sidebar, .page-navigation, .wp-prev-next, .respond-form, nav {
    display: none;
  }
}
